[2016-10-09 05:52] fire opened #1 "Help needed?"
Need any help?

[2016-10-09 05:53] tony612 commented on #1
What kind of help?

[2016-10-09 05:55] fire commented on #1
I could try writing tests or adding typespecs.

[2016-10-09 05:55] fire commented on #1
I also know how to create a travis setup.

[2016-10-09 05:57] tony612 commented on #1
@fire Maybe not now. I plan to do these things, whose priority is low, when the code is more stable and more functions are added. Thanks you all the same!

[2016-10-09 05:57] #1 closed

[2016-10-09 06:01] tony612 commented on #1
@fire But Travis maybe a good idea.

[2016-12-08 20:52] teodor-pripoae opened #3 "Reconnect after network error"
Hi,

I'm testing the following scenario against a golang server:

- run rpc request => everything ok
- stop server
- run rpc request => error
- start server again
- run rpc request => it should reconnect and return correct answer

[code]

I stopped the golang server.

[code]

I started the golang server again.

[code]

The channel should try to reconnect on next RPC call, at least this is what gol

[2016-12-09 11:51] tony612 commented on #3
You're right, I did't implement reconnection yet. I'll look into this after finishing my own busy work recently. Before that, maybe you can try to reconnect in your own code?

[2016-12-18 16:53] yizhiren opened #4 "can't keepalive"
connect between client and server will broken after a while,

[code]

** (exit) exited in: :gen_fsm.sync_send_all_state_event(#PID<0.321.0>, {:new_stream, #PID<0.71.0>})
    ** (EXIT) no process
    (stdlib) gen_fsm.erl:249: :gen_fsm.sync_send_all_state_event/2
    (grpc) lib/grpc/adapter/chatterbox/client.ex:37: GRPC.Adapter.Chatterbox.Client.send_header/2
    (grpc) lib/grpc/adapter/chatterbox/c

[2016-12-20 14:57] tony612 commented on #4
Yes. Chatterbox will disconnect when being inactive for a while. I'll fix this later.

[2016-12-25 11:00] tony612 commented on #4
It's fixed on master. Please update `grpc` and `cowboy`

[2016-12-25 11:00] #4 closed

[2016-12-25 17:34] tony612 commented on #3
It's fixed on master. Please update grpc. Please let me know if you have further problems. Thanks!

[2016-12-25 17:34] #3 closed

[2017-01-12 01:58] hayesgm opened #5 "Generators, Modules & Typespecs"
Currently, when you run the generators, you end up with two generated files, which look something like the following:

`my_service.pb.ex`:

[code]

and

[code]

Getting dropped in there after creating a new project, it's incredibly difficult to move forward since you don't know what your types are from the protobufs and you don't have a typespec to guide you (or dialyzer) in your service definitio

[2017-01-12 16:13] tony612 commented on #5
This is a very interesting idea. But for the service definition part, maybe it's better to implement this feature in [exprotobuf](https://github.com/bitwalker/exprotobuf)? This feature is not very important right now because I have to finish some basic features first, but I'll put this on my TODO list. Thank you! 👍🏼

[2017-01-12 16:18] tony612 commented on #5
btw, you can try to implement this feature if you have time. I'm happy to accept PR for it.😁

[2017-01-16 16:51] baldmountain opened #7 "Error compiling hpack"
Hi,

Just made a quick project to try this against an existing service. I followed the instructions in the README and ran into a problem compiling hpack using mix do deps.get, compile.

[code]

Did I miss a step?

[2017-01-16 17:02] tony612 commented on #7
It seems some changes in hpack today have problems. I'll look into this later. But here is a quick fix: change hpack dep line in `mix.exs` to `{:hpack, github: "joedevivo/hpack", ref: "d903a08", override: true}`

[2017-01-16 17:19] tony612 commented on #7
But I tried with master of hpack. It works. Try this `mix do deps.clean hpack, deps.get`?

[2017-01-16 18:26] hayesgm commented on #5
Cool, I'll continue looking into this.

[2017-01-16 18:33] baldmountain commented on #7
I tried `mix do deps.clean hpack, deps.get` and still get the same error compiling hpack. I added the hpack ref: dependency and the compile gets farther but stops with the same issue in goldrush. :(

It's not an important issue at the moment. I was just giving something a try. Feel free to ignore this issue if it is a distraction.

[2017-01-16 18:46] tony612 commented on #7
@baldmountain Could you paste your hpack line in the `mix.lock` file and the result of `cat deps/hpack/.git/HEAD`(actual Ref of hpack)?

[2017-01-16 19:29] baldmountain commented on #7
I didn't add hpack as a dependency. Here's my entire mix.exs file:

[code]

`cat deps/hpack/.git/HEAD` = `6b58b6231e9b6ab83096715120578976f72f4f7c`

All I did for this is `mix new sabre --module Sabre`, add the grpc dependency, and run `mix do deps.get, compile` as the README says.

[2017-01-16 19:31] baldmountain commented on #7
Oh , the hpack line in mix.lock:

[code]

[2017-01-16 19:58] tony612 commented on #7
@baldmountain  It seems related to a possible bug in Elixir 1.4. I saw an issue here https://github.com/elixir-lang/elixir/issues/5640 and the topic here https://elixirforum.com/t/undefined-parse-transform-lager-transform-with-elixir-1-4-0/3143

[2017-01-28 13:41] tony612 commented on #7
Please upgrade Elixir to 1.4.1, which fixes this problem https://github.com/elixir-lang/elixir/releases/tag/v1.4.1

[2017-01-28 13:41] #7 closed

[2017-02-06 14:58] arnaud-lb opened #8 "Imports"
This package doesn't seem to support files that have import statements. Is there a way to use such files currently ?

exprotobuf seems to support import statements when providing all the imported files explicitly, however I can't find a way to do that with grpc-elixir.

[2017-02-06 15:51] tony612 commented on #8
It's indeed an issue. I'm trying to support this recently. exprotobuf and gpb support import, but some work is still needed to integrate with gRPC.

[2017-02-07 14:25] tony612 commented on #8
Some thoughts about this feature: The current implement(mix task) and protoc-erl(what gpb implements) may be wrong. The right solution should be writing a plugin for the official `protoc` as [here](https://developers.google.com/protocol-buffers/docs/reference/other?csw=1) mentions(though the doc is doesn't provide details about writing a plugin).

[2017-02-09 03:16] tiagopog opened #9 "Encode/decode proto's map"
Hey there, @tony612!

First, thank you again for this awesome project :-)

So, I'm trying to work with a mapped field for errors, which is properly defined in the proto file:

[code]

However it turns out that when I try to use the Elixir's map in the `errors` key:

[code]

I got this error on the server:

[code]

After testing a few data structures (simple lists, keyword lists, tuples) I could on

[2017-02-09 04:02] tiagopog opened #10 "Error on update"
Hey there!

I tried to update this package on my application to the latest commit from `master`:

[code]

Updating was just fine, but when I try to load a new `iex` session with the mix packages, I get this error:

[code]

Since it seemed like the `GRPC.Server.Supervisor` module was not being properly loaded, I removed it from the list of the child supervisors on my application and then I did a do

[2017-02-09 04:10] tony612 commented on #10
Thanks for reporting. I noticed that you specified 30ebca9 in your `mix.exs`, but GRPC.Server.Supervisor is added after that commit. So please use the latest version or clean the build files and recompile the dependences.

I'll add some tags recently so that you can use the tag. Thank you for the suggestion.

[2017-02-09 04:15] tony612 commented on #9
The underlying protobuf implement uses gpb, which use tuples in Erlang for maps in protobuf by default and supports maps as an option as the [README](https://github.com/tomas-abrahamsson/gpb#mapping-of-protocol-buffer-datatypes-to-erlang) shows. I'll try to figure out how to support this in grpc-elixir. Thanks!

[2017-02-09 04:19] tiagopog commented on #10
Well, I just checked that the issue was due to an old image that I accidentally ran on the container where I'm testing the service. I tested again with the up-to-date image and it worked properly. My mistake, sorry.

[2017-02-09 04:19] #10 closed

[2017-02-09 04:33] tiagopog commented on #9
Thanks for the link, I may dig deeper on it later. It would be really great to have such support for maps in grpc-elixir, I could even try to work on it but first I need to study/understand the project's codebase better  :-)

[2017-02-12 01:56] tiagopog commented on #9
Hey there, I took sometime to take a look at both projects `exprotobuf` and `gpc` in order to try figuring out a way to bring up this feature.

I couldn't make it work yet but so far I've noted that:

1. I checked that [`Protobuf.Parser.parse_files!/2`](https://github.com/tiagopog/grpc-elixir/blob/ec4534bc1df6e1b93181b6ed3d9449494fee061c/lib/mix/tasks/grpc.gen.ex#L54) is called on `grpc-elixir` wi

[2017-02-13 15:55] vasilenko opened #11 "Connection errors handling"
Hello.

Is there a way to handle 'Connection Refused' error?

[code]

Thank you.

[2017-02-13 20:08] #11 closed

[2017-03-14 15:21] alexander-alvarez commented on #8
it's defined here:

and the definition for those are given here:
https://developers.google.com/protocol-buffers/docs/reference/cpp/google.protobuf.compiler.plugin.pb

I might take a stab at it when cycles free up

[2017-03-14 15:29] tony612 commented on #8
@alexander-alvarez Thank you. I already found it last month. btw, I'm trying to implement that by Elixir recently, but it will take some time 😀

[2017-03-14 15:34] alexander-alvarez commented on #8
@tony612  you doing it as a separate application?

[2017-03-14 15:40] tony612 commented on #8
@alexander-alvarez I'm trying to create a plugin for protoc to generate the Elixir code from the proto file.

[2017-05-04 16:35] jhchabran opened #12 "Middlewares support"
Hi, thanks for grpc-elixir, it's enabling my company to move toward Elixir faster :]

There's a bunch of features in [grpc-go](https://github.com/grpc/grpc-go) that we're relying upon that would greatly benefit grpc-elixir.

One of those is [support for interceptors](https://github.com/grpc/grpc-go/blob/9f9c1906922195abfc35b3791d0aa106af88b6ab/interceptor.go), which basically enable to write middl

[2017-05-04 16:51] tony612 commented on #12
It's an interesting idea so that we can have some cool features like monitoring, logging and so on. It's already on my wishlist but I'm still working on the protobuf thing. Your solution looks fine for me. You can try to implement it and please ping me if you have problems 😬

[2017-05-05 09:40] jhchabran commented on #12
Ack, will get in touch then :]

Yeah, I've seen you're working on replacing the generating part by [something much cleaner](https://github.com/tony612/protobuf-elixir), that's great :]

[2017-06-02 19:43] cafreeman opened #13 "Any news on the Cowboy branch?"
I'm looking to incorporate this into a Phoenix app at work, but `mix` complains about a conflict on the `cowboy` dependency because this packages uses a fork of the official lib.

Are there plans to move to using the official version of `cowboy` in the near future?

[2017-06-03 05:58] tony612 commented on #13
I'm still waiting for https://github.com/ninenines/cowboy/pull/1020 to be merged.

And there will still be a conflict even if I use official version of cowboy because cowboy2.0 is not published on hex. So we have to wait for that and that Phoenix has support for cowboy2.0.

[2017-06-03 05:58] #13 closed

[2017-06-21 15:10] svetob opened #14 "Disabling of lager for library users"
Have been using this library for the last few weeks and really liking it - simple and quick to get started. Kudos! :)

My only major problem so far, is that the grpc-elixir imports `lager`, which seems to take over the logging stack (as in, make itself the default logging library) with no obvious way of turning it off. This could unfortunately be a blocker for using the lib for me. Obviously, the

[2017-06-22 17:20] tony612 commented on #14
Yes, chatterbox dependents on lager. Even if I remove lager from `mix.exs`, chatterbox will start lager. I didn't see a easy way to remove lager. I'll close this issue. If you find a way, please open an issue or send a PR.

[2017-06-22 17:20] #14 closed

[2017-07-19 20:25] cafreeman opened #16 "Issue compiling in new elixir app"
Hi there,

I seem to be having an issue compiling this (or one of its dependencies) in a new Elixir app.

After adding, `{:grpc, github: "tony612/grpc-elixir"}` as the sole dependency, and running `mix do deps.get, compile`, I receive the following error:

[code]

I've attempted this on Elixir 1.4.3, 1.4.4, and 1.4.5.

Do you have any idea what the issue might be? I know this project is also using

[2017-07-19 21:14] cafreeman commented on #16
Looks it's probably related to this issue on the original `chatterbox` repo: https://github.com/joedevivo/chatterbox/issues/113

[2017-07-20 05:30] tony612 commented on #16
fixed. Thank you!

[2017-07-20 05:32] #16 closed

[2017-07-22 05:11] darkofabijan opened #21 "Troubles when talking to Ruby server"
I am getting an exception when making a call from Elixir client to Ruby server. I hope that I am just missing something trivial and that it's an easy fix :)

### How to reproduce the issue:

1. Follow grpc quick start guide for Ruby
[code]
2. On Elixir side

[code]

### Ruby server, Elixir client

Run server with `ruby greeter_server.rb`

Run client with `mix run priv/client.exs` and I get followi

[2017-07-22 05:26] darkofabijan commented on #21
Now that I am looking at this line again:

[code]

If I haven't made some obvious mistake maybe this would be better to report to chatterbox? 🤔

[2017-07-22 11:47] tony612 commented on #21
It seems a bug in chatterbox. I've sent a PR to fix it https://github.com/joedevivo/chatterbox/pull/114

[2017-07-22 11:54] darkofabijan commented on #21
@tony612 Wow that was fast, thanks! :) Let me continue with Ruby <=> Elixir grpc testing 📈

[2017-07-22 15:06] darkofabijan opened #22 "Stress testing Elixir <=> Elixir and Ruby <=> Elixir communication"
If calls between Ruby and Elixir are performed in any combination by hand with manually triggering client calls from shell things work without any issues. Not sure if relevant but just a note that in this case client process is short lived - one rpc call per process.

I was browsing tests for Ruby implementation and noticed that they have [stress tests](https://github.com/grpc/grpc/tree/master/src

[2017-07-22 15:19] tony612 commented on #22
👍  Good job! Though the result for Elixir is not good, with this we can improve it. Thanks again for your work!

[2017-07-22 15:40] tony612 commented on #22
@darkofabijan There're two problems with your tests:
1. The server should be started with `MIX_ENV=prod`. Could you change the configuration of semaphoreci?
2. The client script is run using `mix run priv/client.exs`, which should be slow and should not be used in production env.

[2017-07-22 16:02] darkofabijan commented on #22
@tony612

1. Just added `MIX_ENV=prod` and I also added you as a collaborator on the project.
2. Moving it to a mix task should be fine, right?

[2017-07-22 16:05] tony612 commented on #22
@darkofabijan Let's try mix task first :)

[2017-07-22 16:43] darkofabijan commented on #22
Just a note that this [build](https://semaphoreci.com/darkofabijan/grpc-stress-test/branches/master/builds/25) is more realistically reflecting situation from the original description.

[2017-07-23 00:37] darkofabijan commented on #22
@tony612 I spend some time debugging `Elixir client => Ruby server` I got some insight, but my understanding still too shallow to make more progress.

On third rpc call `END_STREAM` never arrives. The question is if headers and body are successfully sent and then received by Ruby side.

[code]

You can check where I was digging ⛏ here:
- https://github.com/darkofabijan/grpc-stress-test/pull/1/file

[2017-07-23 05:10] tony612 commented on #22
I tried with Elixir client -> Go server, it works normally(more than 10,000 requests, then I kill it). So I guess it's because chatterbox can't handle the Ruby implementation normally.

[2017-07-23 06:51] darkofabijan commented on #22
Good to know! Let me try to add those combinators to `stress` repo also. Go <=> Ruby and Go <=> Elixir.  It should further narrow down the area where 🐞 could be.

[2017-07-23 06:57] tony612 commented on #22
@darkofabijan 👍  I'm looking into the Elixir client -> Ruby server problem. From the result of wireshark, after the last DATA frame is sent by the client, no frame is sent by the server.

[2017-07-23 13:23] tony612 commented on #22
@darkofabijan The elixir client bug is fixed, though the speed is still a little slow. See https://github.com/joedevivo/chatterbox/pull/115 for details.

[2017-07-23 15:25] tony612 commented on #22
I updated cowboy of grpc-elixir to latest, it seems more stable now. As https://semaphoreci.com/darkofabijan/grpc-stress-test/branches/master/builds/37 shows,
- Go client => Elixir server can finish now
- Ruby client => Elixir server can reach to 95979 in 6 minutes. Then it seems timeout

[2017-07-23 22:45] darkofabijan commented on #22
@tony612 sounds great! :) 💜

Let me think how we can help with testing this further 🚀

[2017-07-24 14:50] jaigouk commented on #22
@tony612 thanks for the hard work. @darkofabijan i am also playing with ruby!!

[2017-07-24 18:17] darkofabijan commented on #22
The main problem in this issue is solved by @tony612  with [PR on chatterbox](https://github.com/joedevivo/chatterbox/pull/115). Thanks a ton! :)

We also got some additional insight into stability and performance of Elixir grpc client and server.

Let me try to sum up what [build 37](https://semaphoreci.com/darkofabijan/grpc-stress-test/branches/master/builds/37) that @tony612 shared tells us and

[2017-07-24 22:00] darkofabijan commented on #22
Just a note that we will be experimenting with `Elixir client => Ruby server` here – https://github.com/renderedtext/grpc-stress 🕺

Once we learn more we will open PR for some stress/e2e tests. Who know maybe even with some benchmarks :)

[2017-07-25 01:26] tony612 commented on #22
Cool. I think we can close this issue. We can discuss the client problem in
a new issue if you want. Please let me know if I can do something for this
client problem :)
On Tue, 25 Jul 2017 at 06:00 Darko Fabijan <notifications@github.com> wrote:

[2017-07-25 06:21] #22 closed

[2017-07-25 12:18] #21 closed

[2017-08-05 15:30] tony612 commented on #9
exprotobuf is replaced by [protobuf](https://github.com/tony612/protobuf-elixir) now. Map has been supported. Doc is coming.

[2017-08-05 15:30] #9 closed

[2017-08-05 15:31] tony612 commented on #8
exprotobuf is replaced by [protobuf](https://github.com/tony612/protobuf-elixir) now. So import has been supported. Doc is coming :)

[2017-08-05 15:31] #8 closed

[2017-08-06 03:28] tiagopog commented on #9
That's really awesome to see this feature coming up. I also started to work on an [implementation](https://github.com/bitwalker/exprotobuf/pull/73) to support maps on `exprotobuf` but, although it's working, I haven't had time enough to get done with all the stuff related to the feature (tests, doc etc).

I'll try testing what you've done as soon as I get some free time here. Thanks and cheers!

[2017-08-09 19:10] fire opened #23 "Improve instructions for using protobuf-elixir"
Instructions on generating elixir code from .proto has changed.

Can you document the new method?

[2017-08-09 19:28] fire commented on #23
[code]

[2017-08-10 02:14] tony612 commented on #23
A little weird. I tried that on my Macbook, it works. I'll look into this later.

[2017-08-10 02:17] tony612 commented on #23
@fire Could you provide some further information? like Erlang/Elixir version, `grpc` and `protobuf` version

[2017-08-10 14:56] tony612 commented on #23
@fire Could you paste your protobuf file? So that we can know what's the problem.

[2017-08-10 15:48] fire commented on #23
iex.bat --version
IEx 1.5.1
erl --version
Eshell V9.0  (abort with ^G)

[code]

[2017-08-10 15:50] fire commented on #23
From mix.lock
"protobuf": {:hex, :protobuf, "0.3.1", "0bedf46d33c37145c3d4c46edba43d3e70d9438dda6d03e5856d65fd776c1411", [], [], "hexpm"},
  "grpc": {:git, "https://github.com/tony612/grpc-elixir.git", "a54d49b9f50790b9614f0aebc4fda759e01aad6e", []},

[2017-08-10 15:53] tony612 commented on #23
@fire btw, what's the version of protoc?

[2017-08-10 15:56] fire commented on #23
libprotoc 3.3.0

[2017-08-10 23:13] fire commented on #23
It seems to be a windows (tested using windows 10) specific problem. In Fedora 25, the problem isn't there.

[2017-08-11 11:49] AleksandarFilipov opened #25 "Mini question"
Hello tony,

i'm eager to test your code but i'm having trouble getting started it seems like the mix task grpc.gen has been removed which is referenced from the docs and examples. I'm having trouble finding what it has been replaced with. Would apprechiate some pointers in the right direction

[2017-08-11 11:52] tony612 commented on #25
You can use https://github.com/tony612/protobuf-elixir to generate code. I'll update the doc in this lib later.

[2017-08-12 13:44] tony612 commented on #5
This has been supported in the new protobuf lib https://github.com/tony612/protobuf-elixir

[2017-08-12 13:44] #5 closed

[2017-08-13 05:44] hayesgm commented on #5
That's really cool. Great work spending the time to build that library!

[2017-08-14 13:51] AleksandarFilipov commented on #25
Thank you for updating! About to take your work for a ride :)

[2017-08-15 02:57] tony612 commented on #25
@AleksandarFilipov Please ping me if you have any problem 😄

[2017-08-25 02:00] cjab opened #26 "HTTP2 Content-Type Option"
Hi there, I just came across grpc-elixir the other day and decided to see if I could build a Google Datastore client from Google's IDL files. It looks like auth isn't completely supported yet or at least the type of auth needed for datastore (I'm still really fuzzy on how datastore auth works). In the meantime I'm testing against Google's local datastore emulator.

The first snag I hit is that dat

[2017-08-29 14:28] arnaud-lb opened #27 "Message is split in chunks of 2^14 bytes"
It seems that `Channel.unary` returns a response whose body is split in chunks of approximately 2^14 bytes.

As a result, `Stub.parse_unary_response` can fail to parse a message, since it's seeing only the first 2^14 bytes of it.

Due to this, I'm seeing the following error:

[code]

[2017-08-29 14:30] arnaud-lb commented on #27
Changing parse_unary_response like this seems to fix the problem for me:

[code]

[2017-08-29 16:21] tony612 commented on #27
@arnaud-lb I think you are right. How about sending a PR to fix it? 😁

[2017-08-30 14:51] arnaud-lb commented on #27
I'll try, but I promise nothing, given my current level in elixir.

[2017-08-30 16:04] arnaud-lb opened #28 "Chatterbox client fsm terminating with :ebadf"
When executing some RPCs concurrently, the server seems to be closing the connection. This happens only when executing the RPCs concurrently, and doesn't seem to happen from other clients (I've tried with a Go client).

I'm running this:

[code]

And getting this:

[code]

[2017-09-26 11:16] redink opened #31 "__call_rpc function?"
https://github.com/tony612/grpc-elixir/blob/0a298e691ca3983b4a0a8209aabb5ae0c97ec0fb/lib/grpc/server.ex#L48

Why need this function? And repeated define will cause compile warning.

[2017-09-26 14:20] redink commented on #31
fixed in https://github.com/tony612/grpc-elixir/pull/32

[2017-09-26 14:20] #31 closed

[2017-09-26 21:27] cafreeman commented on #28
I just ran into this as well. Any ideas what's causing it?

[2017-09-27 10:59] tony612 commented on #28
Sorry. Late for this issue. I'll look into this issue these two days.

[2017-09-27 14:19] #23 closed

[2017-09-27 14:40] tony612 commented on #28
It seems a problem of chatterbox. I'm trying to find the problem.

[2017-09-28 00:32] cwertyar opened #33 "Multiple services on same port"
Hello!

I'm sorry if this is obvious and I just missed it, I'm pretty new to elixir.
Is it possible to have multiple services on the same port as with other GRPC implementations?

[2017-09-28 02:22] tony612 commented on #33
It's supported :)

[2017-09-28 03:15] cwertyar commented on #33
That's good to hear!

Could you maybe give a short example @tony612 as no current example in this repo shows it? Thank you!

[2017-09-28 03:19] tony612 commented on #33
You can see the examples in `examples`. You should be able to call multiple services with one channel like
[code]
Try something like this. If it doesn't work, please tell me.

[2017-09-28 03:30] cwertyar commented on #33
Thank you for the sample :) this seems to work with my go server.
What I'm struggling with is the server side as I'm always getting an error when registering the GRPC supervisor a second time with another service using this code:

[code]

[2017-09-28 09:04] tony612 commented on #33
This is not supported. But I can add this feature these days.

[2017-09-28 14:40] cwertyar commented on #33
That would be awesome. I want to port over a part of our GRPC stuff from go to elixir and our whole setup depends on multiple services being available from the same port.

[2017-09-28 16:21] tony612 commented on #28
@arnaud-lb @cafreeman Could you try the latest version using `mix do deps.update grpc chatterbox, deps.compile`. It should be fixed.

[2017-09-28 17:43] cafreeman commented on #28
Great! Looking forward to trying it out. Thank you!

[2017-09-28 17:52] cafreeman commented on #28
So, after doing `mix deps.update grpc`, I get the following the message when I compile:

[code]

[2017-09-29 02:14] tony612 commented on #28
@cafreeman Oh, maybe you should update chatterbox first. Do you still get the warning after that?

[2017-09-29 14:18] cafreeman commented on #28
@tony612 Ahh, that appears to have fixed it! That's interesting, I figured `deps.update` for grpc would also update its dependencies since I don't have chatterbox declared as a top-level dependency.

[2017-09-29 14:29] tony612 commented on #28
Thank you!

[2017-09-29 14:29] #28 closed

[2017-10-02 09:59] arnaud-lb commented on #28
Seems to work here too, thank you !

[2017-10-03 10:49] tony612 commented on #33
Fixed. You can use a server list in child_spec like
[code]
Please update grpc with `mix deps.update grpc`

[2017-10-03 10:49] #33 closed

[2017-10-04 13:58] xenolf opened #34 "Returning an error from GRPC handler"
From what I saw in the code, the HTTP/2 response code is always set to 200 no matter what.
It would be great if it was possible to set an error code and change the response code accordingly like in other GRPC implementations.

This implementation would probably use `raise` with a custom error type I assume?

[2017-10-04 14:42] tony612 commented on #34
@xenolf Good question, it's already on the TODO :) I haven't decided how to return the error, raising an error is one way to do that.

[2017-10-04 14:59] xenolf commented on #34
@tony612 what is your take on that? I'm in need of this functionality and would offer to implement it but wanted to start a discussion first.

[2017-10-04 15:14] tony612 commented on #34
I think we can try raising errors first. The code in grpc-elixir should handle the errors and return errors to the client side. Then errors will be raised on client side. How do you think about it?

[2017-10-04 15:20] xenolf commented on #34
Yeah I was thinking to define error types for the errors specified in https://github.com/grpc/grpc/blob/master/doc/statuscodes.md . The server code could then just raise an error like `GrpcUnauthorizedError` which gets rescued by library code. The response code gets set as defined inside of the error being raised.

[2017-10-04 15:41] tony612 commented on #34
gRPC status codes are only used to express the basic statuses of gRPC requests. If you need the application level status code, you have to define them by yourself in your service definition and return the messages.

[2017-10-04 15:54] tony612 commented on #34
btw, as the [Wire format](https://grpc.io/docs/guides/wire.html) says, I think the server side should always return 200. The status code should be in `Status` HEADER. gRPC is using HTTP/2, but it doesn't use `:status`.

[2017-10-04 16:45] xenolf commented on #34
You are right, I've mistaken the status header for the `:status` field. But applications can influence the header value in other implementations. Take for example the official GRPC C# implementation, where the handler code may raise an exception with a status code and an optional error string as in the following snippet:

[code]
C++ allows for this to be done through the `responder` object passed

[2017-10-04 17:12] tony612 commented on #34
But the status codes are not application level, even for UNAUTHENTICATED, which just means auth of gRPC not your own auth. Please figure out what's the meaning of all gRPC status codes. Though some implementations may support custom grpc status code, others don't. So I think we shouldn't allow this in grpc-elixir.

[2017-10-04 17:37] xenolf commented on #34
From what I can see from my search is that all official GRPC implementations do support this application level setting of the `grpc-status` header and they also define the same status enumerations as the ones I posted above.

[2017-10-05 08:32] tony612 commented on #34
I see. But I don't know in what situations, people would like to use gRPC defined status codes(each of them has a specific meaning) as application codes. I think grpc-elixir should not allow this at the moment.

[2017-10-05 11:10] xenolf commented on #34
I can't tell you when other people might use it but we are using it  as a replacement for HTTP status codes. When I read the descriptions in the links to the status definitions I posted above, I get the impression that they are also meant for application level errors, not just for GRPC internal use. Take for example the defined codes for `NOT_FOUND` and `ALREADY_EXISTS`. These codes do not even ma

[2017-10-05 13:21] tony612 commented on #34
That makes sense. So.. there're two situations:
1. Application code raises gRPC defined errors(with gRPC defined status code and custom message). The errors should be returned to the client directly.
2. Application code raises other errors. An error of UNKNOWN(2) should be returned.
How about it?

[2017-10-05 13:35] xenolf commented on #34
Sounds fine to me.

[2017-10-05 15:40] xenolf commented on #34
So should I go ahead and start working on a PR for that?

[2017-10-05 15:41] tony612 commented on #34
@xenolf Sure. Please go ahead 😄

[2017-10-12 16:00] #27 closed

[2017-10-19 08:57] AleksandarFilipov commented on #25
I'm back and got some samples running, keep up the good work!

[2017-10-21 07:35] AleksandarFilipov commented on #25
So I'm struggling a bit understanding how to make server request asynch. If managed to connect to a genserver by sending the stream to it and blocking the calling pid. Once the stream is finished I let go of the block (lock) and the stream terminates. This works well, but I've got a feeling that it's not how intended it to work. Using this approach it's unclear to me how I would handle client disc

[2017-10-23 16:02] fire opened #37 "Support Grpc and flatbuffers"
https://grpc.io/blog/flatbuffers

https://github.com/wooga/eflatbuffers exists

There needs to be some integration with grpc-elixir.

[2017-10-27 00:28] dguaraglia opened #38 "TLS handshake error for Go client"
As a side project, I'm rewriting part of a Go service I wrote using Elixir. The Go service uses TLS with server/client certificates. When I try to setup the same server certificate on my Elixir project, there's some weird handshake issue going on when I send a request using my Go client.

When using openssl to check if the socket is properly configured, everything seems good:

[code]

But when I t

[2017-10-29 22:53] MichelDiz opened #39 "Example of consuming third party gRPC"
Below I have an example in Go lang. I met the elixir a short time (4 days). I wanted to understand how I would consume a third-party gRPC with your repo. Like the Dgraph in the example.

Thank you.
Cheers

[code]

[2017-11-01 14:40] tony612 commented on #39
Can the examples help you? https://github.com/tony612/grpc-elixir/tree/master/examples

[2017-11-01 14:48] tony612 commented on #38
What's your code for the SSL part? The route_guide example uses TLS and the code is https://github.com/tony612/grpc-elixir/blob/master/examples/route_guide/lib/app.ex#L23(server) https://github.com/tony612/grpc-elixir/blob/master/examples/route_guide/priv/client.exs#L2(client)

[2017-11-01 15:08] tony612 commented on #25
I'm not sure if I fully understand your problem. But if the client has a problem after sending the request. The client should be able to reconnect and you can still use that connection. If you find there're unexpected problems, please report.

[2017-11-01 18:17] AleksandarFilipov commented on #25
Ok, one question at a time 😀. I'm on the serverside with you library. A client connects and a stream is returned. I think of it as a subscription (a genserver writes to the stream in my implementation). Once the client is satisfied with its subscription it disconnects. Question: how do I know that the client is disconnected, where do I put the server side code to stop feeding the stream with data?

[2017-11-02 14:53] tony612 commented on #25
@AleksandarFilipov There's no support for that now. But maybe we can get the info from cowboy. I'll look into cowboy's code to see how to do that.

[2017-11-02 19:29] acroca commented on #34
Any progress so far?

[2017-11-03 07:44] AleksandarFilipov commented on #25
Sounds great. Now I know I haven't missed something obvious. I'll have look around and I'll try to understand how it works, and potentially be of some help.

[2017-11-03 13:11] fire commented on #37
What are appropriate places to hook into the eflatbuffers library? I don't understand the design of grpc-elixir.

[2017-11-05 13:41] tony612 commented on #37
Most of the implementation of grpc-elixir may be related with protobuf. So you have to understand how grpc-elixir works if you want to add the flatbuffers support. But it's hard to explain the design in some words, the code is the best way. And you can refer the this doc https://grpc.io/docs/guides/wire.html. gRPC is just an HTTP/2 framework, you can use Protobuf or flatbuffers to marshal/unmarsha

[2017-11-07 18:09] vonmixer commented on #12
@jhchabran What's the status on this? I can give it a go.

[2017-11-12 14:40] jhchabran commented on #12
@vonmixer Damn this issue had been opened for so long, sorry for not giving news.

I've resumed work on this during the past week. So far got working code for middlewares on server side, both unary and streaming. I'll push my code beginning of next week, I need to clean stuff and write some tests.

[2017-11-12 16:13] tony612 commented on #26
This is supported now, like `Helloworld.Greeter.Stub.say_hello(channel, req, content_type: "")`

[2017-11-12 16:13] #26 closed

[2017-11-14 19:35] vonmixer commented on #12
Sounds great thanks!

[2017-11-29 04:59] dguaraglia commented on #38
Closing this, as I suspected it had to do with the version of Cowboy being used. Now that `master` is synced to Cowboy 2.0.0 it works fine.

[2017-11-29 04:59] #38 closed

[2018-01-16 02:01] tony612 commented on #34
@acroca  I think this PR has solved this issue https://github.com/tony612/grpc-elixir/pull/36

[2018-01-16 02:01] #34 closed

[2018-01-24 23:34] simon-shopify opened #43 "Unexpected RECV_DATA message when making unary RPCs"
I was making unary RPCs and I noticed unwanted RECV_DATA messages. I was able to reproduce the issue with the [`route_guide`](https://github.com/tony612/grpc-elixir/tree/f3cd74e63e575ae6a96284fbbc686a8fb2d3b942/examples/route_guide) example. I added the following code the display these messages at the end of [`client.exs`](https://github.com/tony612/grpc-elixir/blob/f3cd74e63e575ae6a96284fbbc686a8

[2018-02-14 19:24] kodburn commented on #12
Hi, @jhchabran Do you already use grpc-elixir in production?
We are migrating the stack to kubernetes, and we're going to use grpc as the microservice communication tool(for now we use rabbitmq). We have a couple of elixir otp apps, and I'm not sure how prod ready this library is.

I'd be really glad to start contributing to this project as soon as I get more familiar with otp quirks.

[2018-02-15 11:10] jhchabran commented on #12
Hi @kodburn. No we don't yet, while we use GRPC within Go services in our services, our existing Elixir services not interacting much with those services so we don't need it right now. But that's definitively something we want to do and that's what triggered the need for middlewares and I'll be have some time to return finishing this PR ^^

Though, regarding production readiness, I believe that @t

[2018-02-15 14:47] tony612 commented on #12
The performance of server side is OK for most situations, but the client side is not good enough. You can refer to the benchmark code https://github.com/darkofabijan/grpc-stress-test and the result https://semaphoreci.com/darkofabijan/grpc-stress-test/branches/master/builds/49 . The API is not very stable now. But if you only use unary calls and don't use too much custom options, you can try it in

[2018-02-15 14:48] tony612 commented on #12
btw, I'm looking into how to improve the client side performance recently, try to make the APIs more stable and add more docs. Then it'll be a better time to use it in production, I think. 😁

[2018-02-20 07:43] bjuretic opened #44 "Is Context / metadata supported?"
Hi,

do you support a Context (metadata passing from the client) in the server and the server interceptors? I mean something like the example in Java which is using Context to perform JWT authentication:
https://github.com/saturnism/grpc-java-by-example/tree/master/metadata-context-example/src/main/java/com/example/grpc

[2018-02-20 09:38] bjuretic commented on #12
@jhchabran Did you think about passing some context/meta struct around between the middlewares? That is pretty standard, otherwise there is no way to push data forward in the chain. For example authentication is one middleware, and it pushes the user_id which is retrieved to the next middleware, and eventually to the actual business logic / server method.

@tony612 What I just wrote would need som

[2018-02-21 09:12] jhchabran commented on #12
@bjuretic Yeah it's pretty standard (I've wrote my share of Go GRPC middlewares and I've used them ^^). I haven't put a lot of thoughts into this lately, but I'll be doing another pass soon and I think this could easily added.

[2018-02-22 04:40] tony612 commented on #44
Not now. But it's in the plan.

[2018-03-05 16:41] tony612 commented on #43
You can try `add-gun` branch, which uses gun as the default adapter and should fix this problem.

[2018-03-06 10:27] qinix opened #46 "Feature request: recv streaming response asynchronously via message passing"
Message passing is more Elixir way than blocking Stream, especially for streaming response.

As an example, HTTPoison supports async requests in this way:

[code]

[2018-03-13 22:56] ospaarmann opened #47 "grpc requires Cowboy ~> 2.2.0, phoenix requires 1.0"
Currently grpc-elixir requires cowboy ~> 2.2.0. When trying to use it inside a phoenix app this causes an issue because phoenix itself requires cowboy ~> 1.0.

[code]

Is Cowboy 2.2.0 really necessary or could you go down with the version in your mix.exs?

[2018-03-13 23:10] ospaarmann commented on #47
Nevermind. I just realized you need Cowboy 2. For anyone interested, here is a guide on how to use Cowboy 2 with Phoenix 1.3: https://maartenvanvliet.nl/2017/12/15/upgrading_phoenix_to_http2/

[2018-03-13 23:10] #47 closed

[2018-03-14 01:09] tony612 commented on #47
Yes, it requires cowboy ~> 2.2.0 :)

[2018-03-18 14:35] tony612 commented on #44
I've implemented this in `next` branch. You can try it. And `interop/lib/interop/client.ex` and `interop/lib/interop/server.ex` can be good examples for this.

[2018-03-21 17:02] tony612 commented on #44
Now it's on hex 🎉  https://hex.pm/packages/grpc

[2018-03-21 17:02] #44 closed

[2018-03-21 17:03] tony612 commented on #43
Now it's on hex 🎉 https://hex.pm/packages/grpc

[2018-03-21 17:03] #43 closed

[2018-03-21 18:38] shiroyasha opened #48 "Getting 'shouldn't finish when getting headers, status : 13' with the latest release"
I've tried to update to the latest release, but I am getting the following error when I try to trigger a call from from the client.

Let me know if I can help with debugging.

These are the deps on my project:

[code]

[2018-03-22 14:25] tony612 commented on #48
Could you describe what your client and server do? This error occurs when the first header sent by the server contains a flag END_STREAM, which means the stream is end. I thought this should not happen in a normal gRPC call, so I returns an error for this situation. But if it's reasonable for your scene, I can change that. Like below questions:
1. What your rpc calls type? (Unary, Client streaming

[2018-03-22 16:55] shiroyasha commented on #48
@tony612 thanks for the feedback.

This seems to happen only when I do a simple request_response call to a Ruby based GRCP server. Interestingly, when I do Elixir Client -> Elixir Server everything works, but with Elixir Client -> Ruby Server I get the above error.

I'll try to reproduce this edge case for a simple hello world GRPC call and share the code examples.

[2018-03-22 17:38] shiroyasha commented on #48
@tony612 I've prepared a hello world example communication that demonstrates this issue.

https://github.com/renderedtext/elixir-ruby-failure-example-grpc

The issue seems to be connected to timing. If the server takes more than 100ms to respond, the original error appears.

I hope this helps. Please let me know if I can help out in any other way. 🙇

[2018-03-22 18:34] shiroyasha commented on #48
Some updates:

I've added some debugging steps to the gun await method https://github.com/tony612/grpc-elixir/pull/49.

When I run the code, I got the following messages:

[code]

[2018-03-22 20:26] shiroyasha commented on #48
By digging a bit deeper, I've found the following difference between the Ruby and Elixir clients:

When a Ruby client makes the call, the deadline is set to: `1970-01-01 00:59:59 +0100`.
When the Elixir client makes the call, the deadline is set to: `2018-03-22 20:49:30 +0100` (current second).

The Ruby GRPC client sets the deadline to `INFINITE_FUTURE`: https://github.com/grpc/grpc/blob/7e24da46

[2018-03-23 02:17] tony612 commented on #48
Thank you. This is very helpful. I’ll fix it ASAP.
On Fri, 23 Mar 2018 at 04:26 Igor Šarčević <notifications@github.com> wrote:

[2018-03-24 02:25] tony612 commented on #48
It's on master now.

[2018-03-24 02:25] #48 closed

[2018-03-24 02:55] tony612 commented on #48
I've released 0.3.0-alpha.1 to fix this.

[2018-03-26 00:28] sezaru opened #51 "Macaroon support?"
Do you have or plan to have support for macaroon for credentials?

I want to use your library (the client side) to connect with a LND gRPC server which uses macaroon

[2018-03-26 05:59] tony612 commented on #51
No for the moment.
On Mon, 26 Mar 2018 at 08:28 sezaru <notifications@github.com> wrote:

[2018-03-26 23:33] ospaarmann opened #52 "Process not alive after switch to hex package"
I switched to the hex package (0.3.0-alpha.1). My app is now throwing this error when I try to connect to the server (Dgraph) via the `GRPC.Stub`.

[code]

Adding grpc to the list of applications in my mix.exs fixed this but the docs state that this is only necessary for Elixir before 1.4 (I'm using 1.6).

[2018-03-27 00:05] ospaarmann opened #53 "Updating to 0.3.0-alpha.1 breaks connection"
When upgrading from master on GitHub to 0.3.0-alpha.1 and running my client again I encounter a couple of new errors when trying to connect to a Server (Dgraph) using GRPC:

` ** (KeyError) key :code not found in: %CaseClauseError{term: {:error, %GRPC.RPCError{message: "{:stream_error, :protocol_error, :\"Malformed response; missing :status in HEADERS frame. (RFC7540 8.1.2.4)\"}", status: 2}}}`

`

[2018-03-28 14:21] tony612 commented on #52
Could you show what's the application section of your `mix.exs`, like:
[code]

[2018-03-28 14:31] tony612 commented on #53
Could you see the stacktrace? One strange thing is grpc-elixir doesn't use `code`, which in your errors looks like `status` of `GPRC.RPCError`.

[2018-03-28 14:32] tony612 commented on #53
btw, what's the version of `gun` in your deps?

[2018-03-28 14:37] tony612 commented on #53
Please try lock your gun at `1.0.0-pre.5`, I just realized that `1.0.0-pre.4b` is newer than `1.0.0-pre.5` on hex, which is weird.

[2018-03-28 18:59] ospaarmann commented on #52
Now it looks like this and the problem is gone:

[code]

I thought that it is not necessary to add `:grpc` to the list of applications when using Elixir 1.6.

[2018-03-28 19:08] ospaarmann commented on #53
I seem to have both versions in my `mix.lock`

[code]

Locking gun to `1.0.0-pre.5` got rid of the errors above. Now still some of my tests are failing with

`%GRPC.RPCError{message: "shouldn't finish when getting headers", status: 13}`

So it's an improvement 😄. Btw. my deps in `mix.exs` looks like this now:

[code]

I could push the current changes to a feature branch for my client if this helps

[2018-03-28 19:22] ospaarmann commented on #53
I have published the feature branch with the described behaviour: https://github.com/ospaarmann/exdgraph/tree/use_grpc_hex_package

[2018-03-29 13:43] tony612 commented on #52
You need to delete `: applications` and use `extra_applications`, otherwise you have to add all applications.

[2018-03-29 13:43] #52 closed

[2018-03-29 13:56] tony612 commented on #53
What's your function call when you got the error? Could you point out the code? I found it's a little complex to run dgraph 😂

[2018-03-29 14:29] tony612 commented on #53
If possible, could you captures packages and send the file to me? I wrote a wiki about this https://github.com/tony612/grpc-elixir/wiki/How-to-capture-HTTP-2-packages-using-Wireshark

[2018-03-29 14:53] tony612 commented on #53
I guess I known the reason, the server side returns error directly. You can add these two code
[code]
before this line https://github.com/tony612/grpc-elixir/blame/master/lib/grpc/adapter/gun.ex#L130 in `deps/grpc`. Then run `mix deps.compile grpc` to see what's the status.

I'll improve the error message in the next release.

[2018-03-30 16:39] sezaru opened #55 "Getting Malformed response: missing :status in HEADERS frame"
Hello,

I'm trying to use grpc-elixir client to connect to a LND GRPC server, the commands I do are:
[code]

As far as the server getting the message, it seems to work great, but I do get an error from its response:
[code]

My Protobuf file is like this:
[code]

Which generated this file:
[code]

I'm using latest master (I did try the branches too but same problem) code

[2018-03-30 17:13] sezaru commented on #55
Looking at issue #53 I tried changing gun version to 1.0.0.0-pre.5 with:
```{:gun, "1.0.0-pre.5", override: true},```
That did the trick, now I receive the response correctly.

Are you planning changing the default version of gun to that one in the near future?

[2018-03-31 03:45] tony612 commented on #55
I've contacted with the owner to retire 1.0.0-pre.4b version https://hex.pm/packages/gun.
I will lock the version in the next release.

[2018-03-31 03:45] #55 closed

[2018-03-31 18:14] sezaru opened #56 "GRPC function that returns a stream fails with deadline exceeded or goaway"
Whenever I try to use a function that returns a stream from my GRPC LND server I get one of these 2 errors:
[code]
or
[code]

The function itself is defined as:
[code]

And is translated to:
[code]

Running the same request from python or nodejs works as expected, It seems like some parameter I'm using in the GRPC client or something like that, but I'm not sure.

[2018-04-03 02:10] tony612 commented on #56
Could you provide your grpc version?

[2018-04-03 02:12] tony612 commented on #56
btw, you can try this branch server-timeout to see if it's fixed already though it's WIP.

[2018-04-03 11:22] sezaru commented on #56
Unfortunately, I'm getting the same errors with the new branch
[code]

I'm not so sure what you meant by what GRPC version I'm using, do you mean the LND server GRPC version or the GRPC-Elixir version I'm using? In LND case, looking at it's dependencies, it seems it is in this revision https://github.com/grpc/grpc-go/commit/b3ddf786825de56a4178401b7e174ee332173b66 which is version 1.5.2, for the G

[2018-04-03 22:35] ospaarmann commented on #53
Hey,

I tried logging `status` and `headers` as you advised. But nothing showed up when running the tests. I also added another `IO.puts/1` call to make sure they weren't just `nil`. Still no output at all.

This is the changed code in /lib/grpc/adapter/gun.ex. And yes, I recompiled everything running `mix clean` `mix deps.compile grpc` and `mix compile`.

[code]

Strange thing though: When I chan

[2018-04-03 22:39] ospaarmann commented on #53
On further inspection: My bad. I had to run `MIX_ENV=test mix deps.compile grpc` to make the changes show up in my tests.

I receive the following errors ("GUN ERROR" comes from me...):

[code]

So the server actually returns what I am waiting for but it is not passed on or something.

[2018-04-04 12:50] tony612 commented on #53
Okay. I knew this issue already, it'll be fixed later.

[2018-04-04 20:44] ospaarmann commented on #53
Very nice! Do you have an aprox. timeline for the fix? Thanks!

[2018-04-05 01:59] sezaru commented on #56
Hello, I just captured the packages, but since the communication is encrypted, I'm not sure if it is of any help at all.

The first capture I did was without a timeout, that way the error I got everytime was
[code]

The second capture I added a timeout of 1000000 to force the error:
[code]

[captures.zip](https://github.com/tony612/grpc-elixir/files/1878344/captures.zip)

[2018-04-06 14:04] chintan-mishra opened #57 "Plans to put this repository on official gRPC website"
Pros:
1. It'd bring this project in limelight.
2. Drive developers to contribute and use this lib.
3. Elixir will get some attention from dev community

Cons:
`<need help, can't think of anything>`

[2018-04-08 06:57] tony612 commented on #56
@sezaru You can try uploading the private key. I guess Wireshark can use that to decrypt the messages. btw, the port of your grpc server is 10009, right?

[2018-04-08 15:45] tony612 commented on #53
@ospaarmann Could you try the master branch?

[2018-04-09 21:00] ospaarmann commented on #53
@tony612 I now receive new errors in my tests:

[code]

[2018-04-10 19:25] ospaarmann commented on #53
Haha, now EVERY test fails...

[code]

With dependencies:

[code]

[2018-04-10 19:32] ospaarmann commented on #53
Yes. That works now! 💯

[2018-04-11 02:17] #53 closed

[2018-04-11 10:09] ospaarmann commented on #53
@tony612 In which Hex release will this fix be included? Would be great to know so I can go forward publishing my package. Thanks.

[2018-04-11 10:58] seivan opened #58 "UDP support?"
Any plans on adding UDP support, or open to the suggestion for using `:gen_udp` or [meh/elixir-socket](https://github.com/meh/elixir-socket) for UDP support?

[2018-04-11 14:24] tony612 commented on #58
I think not, grpc is based on HTTP2 for the moment.

[2018-04-11 14:24] #58 closed

[2018-04-11 14:25] tony612 commented on #53
@ospaarmann I plan to release a new version in this week after some issues I already know are fixed.

[2018-04-11 20:13] sezaru commented on #56
Hello @tony612, the private key and certificate are annexed bellow.

[key.zip](https://github.com/tony612/grpc-elixir/files/1900300/key.zip)

Also, I don't know if this would help, but if you want, I can  open internet access to my LND node and make a sample code that connects to it and reproduces the error.

So you can reproduce in your machine too.

[2018-04-12 14:32] tony612 commented on #56
@sezaru Looks like it's not a RSA private key, which is not supported by Wireshark.

[2018-04-17 14:47] tony612 commented on #53
@ospaarmann 0.3.0-alpha.2 is released.

[2018-04-19 11:38] JayH5 opened #59 "0.3.0-alpha.2 blocks GRPC servers from receiving messages"
We have a GRPC streaming server that works something like this using the GRPC 0.3.0-alpha.1:
[code]

I've tried to adapt the server for 0.3.0-alpha.2, but the `receive` call seems to be blocked by grpc-elixir. Messages are never received and an error is produced like:
[code]

I think the relevant change is tony612/grpc@d1abe70a6cad6dac4a3f8235d883d7c896989560 and the message we send our server is

[2018-04-23 09:39] JayH5 commented on #59
@tony612 yes, that does seem to fix things. Thanks!

[2018-04-23 09:39] #59 closed

[2018-04-25 21:44] ospaarmann commented on #53
@tony612 Any timeline for a stable / non-alpha release? Still cannot publish my package with a pre-release dependency.

[2018-04-26 01:40] tony612 commented on #53
One problem is gun, which grpc depends on, is not stable. Do you use
client, server side or both?
On Thu, Apr 26, 2018 at 05:44 Ole Spaarmann <notifications@github.com>
wrote:

[2018-04-26 05:36] imranismail opened #60 "Any easy issues to help move this project forward?"
Hey @tony612

Can you put up easy issues that you might need help with to help move this project closer to 1.0?

[2018-04-26 13:36] ospaarmann commented on #53
Client side. It is a database client for Dgraph. I now published it also as pre-release on hex.pm.

[2018-05-22 22:44] ospaarmann opened #61 "I keep receiving `:gun_down` and `:gun_up` error messages"
I use grpc-elixir to build a Dgraph client. I am using the client now to build a little side project. When running the phoenix server these messages keep popping up in my log every couple of seconds.

Most of the message comes from my client. But I am wondering if this behavior is normal. It seems as if the connection breaks every couple of seconds and gun then re-connects.

[The gun docs state: ]

[2018-05-24 14:40] tony612 commented on #61
How do you manage your connections? Do you create a connection every time you need one?

[2018-05-25 08:58] ospaarmann commented on #61
I use connection pools with DBConnection and Poolboy. I have a pool of 5 connections. So they all die and then are being re-established.

[2018-05-25 15:04] ospaarmann commented on #61
To be a bit more precise: This is the module that handles the connection (besides other things):

[code]

[2018-05-30 03:55] sezaru commented on #56
Hello @tony612 sorry for taking so long to reply to your message.

I was thinking, what do you think if I create a minimal elixir app that reproduces the error, send it to you and expose my server ip so you can directly connect to it with the app?

That way you would be able to directly test your fixes to it. Maybe that would help to find a solution?

[2018-06-04 22:00] pnowosie opened #63 "Using Google.Protobuf predefined types (e.g. Empty)"
Hey @tony612
Kudos for your great work with protobufs and gRPC.

I'm extending HelloWorld example trying to create method which does not expect request param.
In proto definition file I imported `import "google/protobuf/empty.proto";` and use it in rpc definition, e.g. `rpc HeartBeat (google.protobuf.Empty) returns (HelloReply) {}`

Then I regenerated the code with provided `protoc` command. So fa

[2018-06-05 11:14] AleksandarFilipov opened #64 "Sending 0 with grpc python results in "nil""
Thanks for a great library, i have issues accessing vi python,
given the following proto file

[code]

and the following python client
[code]

1. the input recieved on the elixir side reports that the frequency is nil (and not 0 as expected)

2. The problem is reversible, if elixir returns the returned value will be null.

elixir code:

[code]

All the code for reproducing is attached.

[grpc_pyth

[2018-06-05 15:43] tony612 commented on #64
Thank you!

It's not a bug. In proto3, all fields have default values and we can tell if it's set. See https://developers.google.com/protocol-buffers/docs/proto3#default for more detail

[2018-06-05 15:47] tony612 commented on #64
Wait. You said the `request` you got on Elixir side(server) is `%Nilapi.SenderInfo{frequency: nil}`?

[2018-06-05 16:04] tony612 commented on #64
What I got is right:
[code]

[2018-06-05 16:04] #64 closed

[2018-06-05 16:07] tony612 commented on #63
Thank you.

I think you can use this package https://github.com/tony612/google-protos

[2018-06-05 16:13] ospaarmann opened #65 "Timeline for stable hex release"
Hey,

I am really looking forward to a stable release on hex since a project of mine depends on grpc-elixir. I cannot move forward without stable dependencies.

As I understand an issue was that gun wasn't stable. This seems to have changed yesterday (I discovered it by accident, no worries): https://github.com/ninenines/gun/releases

Is there a timeline on a stable release? Is there something we

[2018-06-05 21:02] pnowosie commented on #63
Works perfectly well, 🥇 Thanks @tony612.
✅ Closing issue.

As a reference for inexperience Elixir users (which I am), here is what I did:
 * In [mix.exs](https://github.com/tony612/grpc-elixir/blob/master/examples/helloworld/mix.exs) I've added dips: `{:google_protos, git: "https://github.com/tony612/google-protos", tag: "v0.1.0"},`
 * Get dips & recompile `mix do dips.get, compile`
 * Call heart_

[2018-06-05 21:02] #63 closed

[2018-06-06 03:21] tony612 commented on #64
Can you describe what you expect? Maybe you can paste your input and output messages you expect. I guess it's
[code]

So, it's same with my test. The log I got on Elixir side is
[code]

I didn't see where's the nil.

[2018-06-06 10:01] tony612 commented on #64
What‘s your grpc-elixir & protobuf-elixir version? Maybe you can try
upgrade them.
On Wed, Jun 6, 2018 at 16:25 AleksandarFilipov <notifications@github.com>
wrote:

[2018-06-06 19:36] AleksandarFilipov commented on #64
Here we go again :)

if i do
[code]
python reports - as expected
[code]

elixir reports - _not_ as expected
[code]
i use the following version - as far as i can tell latest and greatest.

[code]

Whats going on here?

if i replace the 0 with a 1 it all works as expected.

python versions:
[code]

So confusing.

[2018-06-07 02:15] tony612 commented on #64
@AleksandarFilipov Are you using proto2 in the Elixir side?

[2018-06-07 07:11] AleksandarFilipov commented on #64
Hi again Tony, thanks for helping me out.

protoc --version
libprotoc 3.4.0

not sure how to check version of protoc-gen-elixir
[code]

Generated code on elixir side:
[code]

whats next....

[2018-06-07 13:57] tony612 commented on #64
@AleksandarFilipov I see. I think it's because you're using an old version protoc-gen-elixir. You can install the latest version directly:
[code]

[2018-06-07 16:34] AleksandarFilipov commented on #64
YES now it works. Many thanks for your help and your commitment. Keep up the excellent work!

[2018-06-11 15:12] tony612 commented on #65
But actually, gun is not released on hex 😂

[2018-06-11 15:21] ospaarmann commented on #65
Well, maybe this can be changed 😉. If you need support with anything, let me know!

[2018-06-13 15:34] tony612 commented on #56
@sezaru I guess you didn't start the service?
[code]

[2018-06-14 01:59] sezaru commented on #56
Hello @tony612

Sorry, someone from the team changed the dns to thunderpay.webredirect.org

Also the LND certificate was changed, so I'm sending a new elixir example app attachment with the new certificate.
[lnd_elixir.zip](https://github.com/tony612/grpc-elixir/files/2100519/lnd_elixir.zip)

I also did an equivalent example using Rust, this one will do the GRPC call and not timeout, I will attach

[2018-06-15 00:35] ospaarmann commented on #61
Hey @tony612, getting back to this:

As I understand the connection should be established and then keep alive unless something fails. So if I have a pool of five connections they should stay alive for as long as possible. If one fails my Poolboy worker will fire up a new one.

Right now all five fail simultaneously. And it happens regularly every 5-10 seconds. This doesn't seem right to me. But ma

[2018-06-15 18:05] ospaarmann commented on #61
Hi @tony612 ,

I profiled gun and gun_http2 to see what is going on. Server is dropping the connection with `{goaway,0,enhance_your_calm,<<"too_many_pings">>}`.

That means the `keepalive` value for gun needs to be increased. 5000ms between pings seems to be too little.

This is atm not configurable in grpc-elixir. I would suggest to extend the grpc-elixir configuration to be able to pass in confi

[2018-06-18 06:45] tony612 commented on #56
@sezaru I debug a little, found the reason may be lnrpc doesn't return the response:
[code]
(I turn off the ping)

From the log, we can see, after sending DATA frame(with fin), the client didn't got response from lnrpc server.

I'm still updating rust index, so I can test it later. But I don't understand why the result will be different between Rust and Elixir.

[2018-06-18 07:28] tony612 commented on #61
The keepalive timeout is supported like:
[code]

[2018-06-18 07:56] tony612 commented on #56
I ran the Rust demo but still couldn't get response from the server. So I guess it's normal except the timeout and ping too many? Maybe you can do this to keep the client waiting forever:
[code]

[2018-06-25 15:16] tony612 commented on #60
You can use and test it as much as you can 😄

[2018-06-26 01:45] sezaru commented on #56
Hello @tony612 I created an issue in the LND github to ask then why there is no response from the server to the stream calls.

Also, you will only receive an invoice from that function if I create an invoice request and pay for it using my node, that's why nothing was showing at all.

And thanks for that workaround, it seems to work great, thought I'm sure what are the cons of using without a time

[2018-07-12 13:38] drowzy opened #67 ":infinity is not a valid value for cowboy setting_timeout"
It uses the same value as `:idle_timeout` which defaults to infinity however, `:infinity` is not a valid value for `:settings_timeout` consider adding the posibility to pass `:settings_timeout` instead of just `:idle_timeout` and default `:settings_timeout` to 5000 or something. I can send you a PR if you like

[2018-07-12 13:46] tony612 commented on #67
What's your cowboy version? I think you'd better use the latest cowboy. `:infinity` should be supported in Cowboy. But there's a bug in cowboy I tried to fix in https://github.com/ninenines/cowboy/pull/1304.

btw, could you send your error log to identify the problem?

[2018-07-12 14:05] drowzy commented on #67
I've tried with 2.2 & 2.4. I'll try using your PR.

Log:
[code]

[2018-07-12 15:55] tony612 commented on #67
I think the error is produced by the bug I fix, based on your log. :)

[2018-07-12 19:29] drowzy commented on #67
Ok I'll close, awaiting your PR being merged :).

[2018-07-12 19:29] #67 closed

[2018-07-13 09:18] odo commented on #37
Hi, main author of [eflatbuffers](https://github.com/wooga/eflatbuffers) here.
If can can help with this, I would be happy to do so!

[2018-07-16 09:31] odo opened #68 "Stateful connections"
Hi and thanks for the great work!

In my project I would like to model my connection as a stateful gen_server. Ideally I would get messages from the actual connection with requests, do the processing asynchronously and then reply.

Is far as I understood, the callback  in the server module does not get any identifier of the corresponding session and therefor can't dispatch to a state-holding proce

[2018-07-16 14:32] tony612 commented on #68
For the moment, there's no way to achieve this in a easy way. I think you have to send the messages to your own processes :(

[2018-07-20 05:37] bjuretic opened #69 "Status of interceptors"
Hello,

when will the Interceptors support be merged into the master? I see your Prometheus interceptor project is using "support-interceptor" branch still.

Thanks.

[2018-07-20 18:01] fschuindt opened #70 "How to handle client streams on server-side?"
**Edit note:** _This issue was described in other way. I made some changes to the code that allows me to bring a more complete question, here it goes:_

Given the following proto:
[code]

I'm having trouble in implementing the `Broadcast` server in Elixir.

Here is my current implementation:
[code]

And to make things clear, here's my Ruby client:
[code]

Notice the `loop do` line in my Ruby clien

[2018-07-20 22:48] fschuindt commented on #70
Well, apparently my client was sending data too fast.(?)

That's my server:
[code]
I've changed my client code in Ruby too. All I did was to set a random sleep between 1 and 2 seconds for each pack sent in the client. And now it seems to work.

Can't I send a "fast as it can get" packs during stream?

[2018-07-29 12:12] fschuindt commented on #70
BTW, I'm still interested in any kind of guidance throughout this issue here. :)

[2018-07-29 18:35] clearjs opened #71 "Authentication for accessing Google PubSub (and other third-party APIs)"
Hi @tony612!

Thanks for making this library. 👍

I want to use it for accessing Google PubSub sevice. Right now I'm in the process of trying to figure out how to do the authentication properly. Your route_guide example uses a self-signed CA certificate in both client and server. Does this mean that I should find somewhere Google's CA cert and use that? After looking at the source code of gun adapt

[2018-07-30 17:34] clearjs commented on #71
I pushed a sample (not yet working) implementation here: https://github.com/clearjs/pubsub-grpc-auth-elixir. I tried an approach similar to https://medium.com/@KevinHoffman/mutual-tls-over-grpc-with-elixir-a071d514deb3.

Here are my new settings: https://github.com/clearjs/elixir-auth/blob/master/priv/client.exs.

I added CA certificates from https://github.com/certifi/erlang-certifi for channel a

[2018-07-31 15:00] tony612 commented on #70
OK. I can reproduce the problem now. Let me try to fix it. Thank you.

[2018-08-01 09:12] milica-nerlovic opened #73 "Server healthchecking support"
Hi, @tony612!
My coworkers and I have been trying to include a simple health check for our GRPC servers in our projects, based on the [grpc health checking guide](https://github.com/grpc/grpc/blob/master/doc/health-checking.md).

Ideally, we would want a small library that can be included in projects easily, like:
https://github.com/renderedtext/grpc_health_check/tree/mn/standalone-application

Ho

[2018-08-06 16:52] tony612 commented on #70
@fschuindt Could you try the master branch?

[2018-08-08 00:01] fschuindt commented on #70
@tony612 Hi there, thank you for having time to look at it.

Changed it to use the master branch here and now it fails with:
[code]
Sometimes it prints the `[info]  Started broadcast | Band UID: 000 | Band Key: 111` message, but is not consistent.

I remember seeing this error before, that was why I was using the `0.3.0-alpha.2` Hex package version instead of the `master` one, I'm sorry I didn't m

[2018-08-12 13:38] tony612 commented on #70
@fschuindt This error is related to a cowboy's bug which I fixed in this PR https://github.com/ninenines/cowboy/pull/1304 (but not merged yet)

[2018-08-13 02:51] fschuindt commented on #70
@tony612 Superb! Thank you a lot. My so called broadcast server is working like a charm.

BTW, two other strange facts are happening, now regarding the tune server:
- 1. My tune server seems to get out of sync with my tune client.
- 2. When I close (Ctrl + C) the Ruby tune client, the Elixir tune server keeps on sending replies for ever. I know I've defined a non-stoppable recursion loop. My quest

[2018-08-26 15:03] tony612 commented on #73
Yes, I think so. You can add `GrpcHealthCheck.Server` to your own app like
[code]
 Hmm.. I think I can add health check later.

[2018-08-26 15:42] tony612 commented on #71
Based on the 404 error, it seems the TLS works? I think your guess("incorrect authentication") is right. I didn't use Google PubSub, but I guess you should use gRPC metadata(like custom headers in HTTP/1)  to pass the token. The way you tried to pass token is wrong
[code]
You can find examples in https://github.com/tony612/grpc-elixir/blob/master/interop/lib/interop/client.ex#L93

[2018-08-26 15:53] tony612 commented on #70
It's a interesting problem :) I'll look into it these days.

[2018-08-29 15:29] tony612 commented on #70
Fixed on master.

[2018-08-29 15:47] fschuindt commented on #70
@tony612 I don't want to bother you, but I just downloaded the new `grpc-elixir` from GitHub master, recompiled my application and performed the tests again. Both the two issues I reported in my last comment persists. The server gets ahead over time and the server keeps running even after closed connection.

Am I doing something wrong?

[2018-08-29 16:04] tony612 commented on #70
@fschuindt I tried with your example, it should works. Can you make sure `mix.lock` has changes like this?
[code]
And you can try recompiling deps(with `mix deps.compile grpc`).

[2018-09-01 15:46] fschuindt commented on #70
@tony612 Hey! I'm sorry my late response, tight week schedule at my daytime job this week.

And yes! You were right, somehow even after removing the `_build` and `deps` folders, running `mix deps.get` and `mix compile` it wasn't changing the `mix.lock` file at all. So I removed it myself and ran everything again, so the `mix.lock` file got updated and now matches with your last master commit. Grea

[2018-09-01 18:02] fschuindt commented on #70
BTW, I forgot to mention: When I close the Tune client, the server loop now stops successfully. Thank you!

[2018-09-09 02:18] zhongwencool opened #74 "Any good way to handle gun_down/gun_up messages?"
Gun is always **connected**. It will maintain a permanent connection to the server, reopening it as soon as the server closes it, saving time for the requests that come in.
But
1. The network maybe disconnect for sometime.
2. The server disconnect the client for some reason, such as
   etcd v3 grpc server will disconnect client when client ping server 5 time without other request.

Gun will reconn

[2018-09-10 09:14] milica-nerlovic commented on #73
Yes, this is the exact solution we opted for in our apps as well. 🙂

Thanks for replying, @tony612. 👍

[2018-10-03 10:37] JayH5 opened #77 "interop tests fail with gun 1.3.0"
As of c0eaa61d789f5c5b9e3c2f4c213944bebaf2c72c, when using gun 1.3.0, the interop tests fail with an error like:
[code]

The tests seem to fail in an inconsistent point, usually after around 8-9 rounds of the test.

With gun 1.2.0 and below, the tests pass. I'm not sure exactly what has changed in gun to cause this but am making this issue to record the problem.

[2018-10-09 18:14] AleksandarFilipov commented on #25
A few months has passed and here are my findings :). This really isn't an issue.

Well if the client disconnects abruptly cowboy will
[code]
which means that otp also will bring down any linked process (since the reason isn't normal). In my scenario  this is neatly hadled by adding
[code]
to my genserver, which in turn will get a callback to terminate, giving me a chance to clean up any ongoing le

[2018-10-10 12:57] bendiken commented on #65
That problem has been sorted in the past months: https://hex.pm/packages/gun

@tony612 Would it be possible to go ahead and release 0.3.0 on Hex.pm?

[2018-10-10 13:16] bendiken commented on #65
Something to note: #77 means that the `gun` dependency should probably be locked to `~> 1.2.0` for now.

[2018-10-21 14:33] #73 closed

[2018-10-30 23:48] heath commented on #77
FWIW, I haven't been able to replicate this issue on 936f5362bb1f16e671d368605f0195328d16e441 with gun 1.3.0.

[2018-12-05 05:14] tony612 commented on #77
fixed by https://github.com/tony612/grpc-elixir/commit/e5ecebcb811fd62025201b322ae671b67042fe28

[2018-12-05 05:14] #77 closed

[2018-12-07 21:55] tony612 commented on #65
0.3.1 was released https://hex.pm/packages/grpc

[2018-12-11 00:41] mmendez512 opened #81 "GRPC Client Not Working with Java GRPC Server -- Maybe A GRPC Version Mismatch?"
I'm doing a POC with an Elixir app communicating with a Java GRPC micro-service. I'm able to get a successful response with a Java client, so I know my Java GRPC service works. However, when I tried the same thing with an Elixir client using grpc-elixir/protobuf-elixir, I get:

I'm using the latest versions of Protoc (via Maven plugin) and GRPC in Java:

				<groupId>org.xolstice.maven.plugins</gr

[2018-12-11 03:33] tony612 commented on #81
I guess you have different proto for them. Could I paste your generated code for Elixir and Java?

[2018-12-11 04:42] mmendez512 commented on #81
Thanks for the quick reply --

Attached are the Proto and the generated files. Note, I had to update the file exts to end with .txt in order to upload them.

[AirportServiceGrpc.java.txt](https://github.com/tony612/grpc-elixir/files/2665968/AirportServiceGrpc.java.txt)
[AirportServiceOuterClass.java.txt](https://github.com/tony612/grpc-elixir/files/2665979/AirportServiceOuterClass.java.txt)
[Airpo

[2018-12-11 08:55] ssboisen commented on #71
Did you ever manage to get your GRPC client for Google Cloud PubSub working @clearjs?

I had similar problems with Google Cloud Bigtable. With the emulator everything worked as it should but when targeting googleapis.com I got a 404. After debugging with Wireshark and finding the differences between an official bigtable client for nodejs and mine using grpc-elixir I found the problem.

It turns ou

[2018-12-11 18:45] clearjs commented on #71
@ssboisen thanks for sharing that info. This task has been on hold since August till yesterday, so I'm going to continue soon. Do you have working code for Bigtable anywhere?

[2018-12-11 21:20] clearjs commented on #71
@ssboisen thanks for sharing this! This task has been on hold until yesterday, but now I plan to finish it. I added `content_type` as you suggested, and it now works!

[code]

I used my fork of grpc-elixir which takes the `token` param and uses it to set the authentication header. However, as I mentioned in https://github.com/tony612/grpc-elixir/pull/72#issuecomment-409125995, there's a better way

[2018-12-11 21:20] #71 closed

[2018-12-13 03:16] max-konin opened #82 "Requests to Google Cloud Speech fail with 404 status"
Hello

I try to connect to Google Cloud Speech.

At the beginning I generate protobuf file from [cloud_speech.proto](https://github.com/googleapis/googleapis/blob/master/google/cloud/speech/v1/cloud_speech.proto) via  [protobuf-elixi](https://github.com/tony612/protobuf-elixir). [Genereated file](https://gist.github.com/max-konin/b247f3fd37c9d1de1f442e9335e8775e)

Next, I try to send recognize req

[2018-12-13 07:41] jonathanxie commented on #81
I got a similar error with my Elixir client talking to my Java gRPC service. What's weird is that I tested a Go client with the same Java gRPC service and that worked. Then I tested the same Elixir client with a Go gRPC service and that was fine too. Just what doesn't work is Elixir client with my Java gRPC service. I'm so confused as to why that's happening so any help would be appreciated =)

[2018-12-16 08:03] syfgkjasdkn opened #83 "Easy way to stub/mock clients?"
👋

I wonder if there is an easy way to make the client (stub) like

[code]
return preconfigured responses without going over the network in a test env?

[2018-12-16 17:49] mmendez512 commented on #81
I updated the protofile on both sides then generated it; now it works. So there must have been a mismatch issue between the two files prior to generation. Closing out this ticket.

{:ok,
 %Com.Poc.Grpc.GetAirportByIdResp{
   airport: %Com.Poc.Grpc.Airport{
     airport: "Los Angeles International",
     city: "Los Angeles",
     country: "USA",
     id: "LAX",
     lat: 33.94253611,
     long: -11

[2018-12-16 17:49] #81 closed

[2018-12-17 09:33] radwo commented on #83
👋 seika, we had the same issue and create this [function registry](https://github.com/renderedtext/fun-registry), it works great for us, I hope you will enjoy it too

[2018-12-19 06:56] tony612 commented on #71
@ssboisen Yes. I noticed similar problems in other projects. I'll consider change default content-type to `application/grpc`.

[2018-12-19 07:03] #57 closed

[2018-12-19 07:04] #65 closed

[2018-12-19 07:05] #60 closed

[2018-12-19 07:06] #70 closed

[2018-12-19 07:47] tony612 commented on #69
merged now

[2018-12-19 07:47] #69 closed

[2018-12-19 07:48] #12 closed

[2018-12-19 08:37] chintan-mishra commented on #57
@tony612 I noticed that you closed this issue. I was hoping to find reference to this repository on https://grpc.io but couldn't. Can you shed some light on this?

[2018-12-19 10:00] #25 closed

[2018-12-19 12:37] tony612 commented on #57
@chintan-mishra There're only official implementations in the website. Will add Elixir when they have something like https://github.com/protocolbuffers/protobuf/blob/master/docs/third_party.md.

[2018-12-19 12:47] fschuindt commented on #70
@tony612 Would be nice to know your thoughts on my last comments before you closing it.

[2018-12-19 13:11] chintan-mishra commented on #57
@tony612 Okay. Thank you.

[2018-12-19 14:24] shiroyasha opened #84 "Exception handler middleware"
I am looking into ways to set up a exception handlers for a GRPC service.

For example, with Sentry currently do:

[code]

Ideally, I would like to set up something like a middleware if possible:

[code]

Any tips on how we could achieve this?

[2018-12-19 15:53] radwo commented on #83
@syfgkjasdkn please check our new lib https://github.com/renderedtext/grpc-mock

[2018-12-19 18:43] shiroyasha commented on #84
I ended up using `__before_compile__` and dynamically redefined rpc functions.

https://github.com/renderedtext/sentry_grpc/blob/master/lib/sentry_grpc.ex#L27

[2018-12-20 04:21] tony612 commented on #84
Maybe you can try the new interceptor feature. See https://github.com/tony612/elixir-grpc-prometheus as a reference. Not sure if there's problem with interceptors. Please give suggestion :)

btw, here's the PR https://github.com/tony612/grpc-elixir/pull/62

[2018-12-20 07:05] tony612 commented on #70
@fschuindt Sorry, I thought there's no problem any more. I ran the demo, but didn't see obvious lag between Elixir server and Ruby client. The log they print are very close. This is a screenshot after they ran after 8 minutes from 2018-12-20 06:53:03, then I kill them by hand.
[code]
![screen shot 2018-12-20 at 3 01 14 pm](https://user-images.githubusercontent.com/1253659/50269256-b289dc80-0468-11

[2018-12-20 09:18] shiroyasha commented on #84
I too thought of interceptors first before implementing the previous code. I copied the logger example and tweaked it with the attempt to collect errors.

Unfortunately, the `next()` function returns an `{:error, %GRPC.RPCError{} = error}` tuple that already handled errors and exceptions.

@tony612 is there a way to access the raw error/exception in the interceptors?

---

On the sidenote: The new

[2018-12-20 11:07] syfgkjasdkn commented on #83
@radwo Thank you so much! That looks very useful. I was actually using `mox` before for mocking an abstraction on top of the gRPC stub, but now I'll switch to your lib, I think.

[2018-12-21 12:41] shiroyasha commented on #84
I'll close the issue. We are so far happy with https://github.com/renderedtext/sentry_grpc.

[2018-12-21 12:44] #84 closed

[2018-12-21 12:52] shiroyasha opened #85 "Grpc connection pooling"
I am opening this issue because I am not 100% sure about best practices for managing GRPC connections.

Currently I see several ways:

- Use one connection for all requests. This has a drawback that it will send all requests to a single upstream connection (pod) in a Kubernetes environment as describe here: https://mycodesmells.com/post/pooling-grpc-connections.

- Create a new connection for each

[2018-12-24 00:23] mmendez512 opened #86 "Receive "upstream connect error or disconnect/reset before headers" while using Envoy Proxy"
Hello,

I'm trying to use GRPC-Web client, which requires an L7 proxy, in this case, Envoy. Refer: https://github.com/grpc/grpc-web

And I followed the Helloworld example that uses Common-JS client and a Node server (https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/helloworld), and that works fine through the Envoy proxy. Then I switched out the node server for Elixir GRPC se

[2018-12-24 01:31] tony612 commented on #86
Got it. I'll try the demo.

[2018-12-24 01:45] tony612 commented on #85
I prefer the first or the third.

As official gRPC implementation and HTTP/2 spec show, I think the first is enough. But there're still problems for Elixir, like reconnecting(I'm investigating this recently), performance testing. Yeah, it's indeed a big problem for load balancing in HTTP/2(long connection). But even if we use pool, the problem still exists. There're recommendations for load balanc

[2018-12-24 01:52] tony612 commented on #85
btw, for load balancing, I recommend personally you can try Envoy if it's not a big problem to import it to your infrastructure. It works pretty well in production.

[2018-12-24 05:37] mmendez512 commented on #86
Thanks.

[2018-12-24 11:02] tony612 commented on #86
It works for me, actually. I changed cluster's socket address to `host.docker.internal` to fix the network problems.
![image](https://user-images.githubusercontent.com/1253659/50397898-5bf50900-07ae-11e9-896c-550b6718170d.png)

My code is at https://github.com/tony612/hello-grpc/commit/b97110e76d19e83fc43ccb6d005bf19cc8535bdb

[2018-12-24 11:39] shiroyasha commented on #85
Thanks for the detailed answer.

I'm experimenting with several setups at the moment and will report if I learn something interesting.

[2018-12-25 02:59] tony612 commented on #57
btw, you can find Elixir implementation here https://github.com/grpc-ecosystem/awesome-grpc#elixir

[2018-12-25 05:33] mmendez512 commented on #86
I don't get it, it still doesn't work for me. :( Even with your updated branch, I'm getting the same issue. Works fine with my node server and I even created a Java server, that works, too.

[2019-01-02 03:08] tony612 commented on #86
Are you using Docker for Envoy? Or still built by yourself? I just do by the README https://github.com/grpc/grpc-https://github.com/grpc/grpc-web/blob/09604c483732a0cabd93b5658aad0b380ff23a29/net/grpc/gateway/examples/helloworld/README.md#run-the-example , but changing the last line of `net/grpc/gateway/examples/helloworld/envoy.yaml` to
[code]
And then run this docker command:
[code]

[2019-01-02 19:54] mmendez512 commented on #86
If I recall right, I did both. I'll make sure and do it via Docker again.

[2019-01-13 23:53] mmendez512 commented on #86
Yeah, it was both. I'm going to close the issue. It worked fine for you, and I'm not going to spend anymore time on this -- decided to not to use GRPC. Thanks for the help.

[2019-01-13 23:53] #86 closed

[2019-01-24 14:24] AleksandarFilipov opened #88 "client reports deadline expired"
On (inifinite) stream subscription client reports
[code]
after 10 seconds. Due to the timeout the connections is dropped. Until dropped connection everything works as expected.

The following dosent't change anything
[code]

however the following does:
[code]

effectively the 12000 call postopones the "Deadline expired" from 10s to 12s. Agan until dropped connection everything works a charm

in st

[2019-02-05 13:09] thiamsantos opened #91 "[Question] How stable is the library?"
The readme says the library is unstable. What the library miss to be considered production ready? There is a roadmap of some kind?

[2019-02-17 07:17] sunboshan opened #92 "gRPC client got gun's flow control error when sending data over 8M."
version

[code]

Repro step

hello.proto

[code]

hello_server.ex
[code]

client.ex
[code]

[code]

This error is due to gun client got http/2 window update frame too much and it reaches the maximum 2^31 - 1. But I don't know why grpc server would send too many window update frame to gun client. When using only cowboy and gun, it won't have this issue.

[2019-02-21 03:12] zbye commented on #85
@tony612  I encountered a problem when deploying envoy as font-gateway when dealing with grpc laod balance， https://github.com/envoyproxy/envoy/issues/5700 . Can give some ideas or guidance ? Maybe there exists some problems in my configuration file or others；

[2019-02-27 13:35] tony612 commented on #88
How about setting timeout to `:infinity`?

[2019-02-27 14:02] tony612 commented on #92
I guess this issue has been fixed by https://github.com/tony612/grpc-elixir/commit/d07d1357b2c105258f77b908482f694bd11b3c8d

"too many window update frame" is another issue, which affects the performance, but not the reason of this issue.

[2019-02-27 21:19] sunboshan commented on #92
Now I know the trick is to send flow update frame with the data size instead of accumulated body size.

Thanks for fixing! Closing out.

[2019-02-27 21:19] #92 closed

[2019-03-04 13:43] AleksandarFilipov commented on #88
As soon as I'm in context again I'll give it a try.

[2019-03-05 10:08] AleksandarFilipov commented on #88
So confirming that :infinity works well and solves my issue. However i'm confused on the timeout mechanism which doesn't (which I would expect) postpone the timeout if traffic arrives. Is this intentional?

[2019-03-20 12:07] AleksandarFilipov commented on #86
Can confirm than envoy works a expected :+1:  :)

[2019-04-12 00:41] vamsikc commented on #91
@tony612 Can you share your thoughts as to how much progress has been made and how far off this is from being production ready? We would be happy to contribute to this library and get it production ready as well. Thanks!

[2019-04-12 16:41] tgautier commented on #91
Hey, sorry for the reply as I don't really want to make this a 👍 thread but I also wanted to let you know that we (https://github.com/fewlinesco) would also be happy to contribute towards making this library production ready.

We're moving to gRPC for our own services and would prefer to contribute to a community effort instead of rolling our own.

[2019-04-13 10:36] tony612 commented on #91
In fact, it's hard to say it's very stable because there are not too many users and I don't have enough time like what Google does. But my company(https://tubitv.com/) already begin using it in production. Though only part of traffic is on it for the moment, but will have more and more soon. Recently I fixed some issues in grpc and protobuf. You can do some tests, POC and benchmarks for it. Lookin

[2019-04-14 07:01] tony612 commented on #88
From your code, I know the problem. Timeout for streaming RPCs is for the all connection. Like if you calls have 3 streaming calls, each of which take 200ms, then you have to set timeout to > 600ms.

[2019-04-14 07:01] #88 closed

[2019-04-14 07:03] tony612 commented on #83
I found another lib https://github.com/edgurgel/mimic. You can try it.

[2019-04-14 07:03] #83 closed

[2019-04-14 07:05] #82 closed

[2019-04-26 01:06] mairbek opened #100 "Cowboy Libraries"
I see that custom cowboy libraries are used since https://github.com/elixir-grpc/grpc/commit/cf74ab40e6dbc77aa6031659d0f0cc2b1768beda, could you share what was the reasoning? It blocks our adoption now...

[2019-04-26 15:20] dbhobbs commented on #100
This makes it difficult for us to use as well.

[2019-04-28 02:03] tony612 commented on #100
There are issues in original cowboy which can result in some serious problems in gRPC. I'll send PRs to origin to see if they can be merged.

[2019-04-28 02:16] tony612 commented on #100
You can use `override` to use official deps, but I recommend using the forked before the PRs are merged.

[2019-04-28 02:30] tony612 commented on #100
And cowboy, gun, cowlib often have incompatible changes. If you can't use right versions of them, you may have some problems.

[2019-04-28 03:36] tony612 commented on #100
These are the PRs which fix problems:
[code]

These are PRs which improve things like retrying, flow control:
[code]

[2019-06-11 15:15] BlueHotDog opened #102 "undef error when writing integration tests"
I'm trying to write integration tests and getting the following error:
[code]

You can see the relevant code here:
 - https://github.com/BlueHotDog/buff/blob/refactor_to_email/server/test/support/grpc_integration_case.ex#L28
 - https://github.com/BlueHotDog/buff/blob/refactor_to_email/server/lib/buff_server_grpc/auth_service/server.ex
 - https://github.com/BlueHotDog/buff/blob/refactor_to_email/se

[2019-06-12 09:01] BlueHotDog commented on #102
Ok, more research,
When trying to use official Gun version 1.3 it works(after changing some arguments)

Maybe that helps.
Also would be very interesting in learning why the fork off off Gun

[2019-06-17 17:04] vamsikc opened #103 "Gracefully handle server connection termination / shutdown ("GOAWAY")."
We observe a crash when the connection is terminated as follows:

I think we should case match here, handle this and return an appropriate status code response back to the client caller (rather than status code 2 UNKNOWN):
https://github.com/elixir-grpc/grpc/blob/6edfd9cb9ce8f19dabd8a3ae68ecd48149d36c2a/lib/grpc/stub.ex#L396

What do you think @tony612 ?

[2019-06-18 17:52] anulman commented on #91
We're moving https://chefconnie.co onto it, slowly at first, normalizing how we handle requests from external, non-gRPC services over HTTP + our own websocket API. I'll let you know what comes up!

[2019-06-27 11:41] BlueHotDog commented on #102
any update on this? somehow i can help?

[2019-06-27 11:44] radwo commented on #102
Check this issue https://github.com/elixir-grpc/grpc/issues/100

[2019-07-04 00:57] tony612 commented on #103
Could you try the master branch and upgrade gun? I believe I fixed this problem in gun. Now grpc will still handle requests after GOAWAY is received.

[2019-07-12 16:57] dbhobbs commented on #100
This is beginning to be a real problem for us. We use Phoenix and are not about to drop support for it. Can you at least rename the libraries since they are divergent and no longer the same?

[2019-07-16 19:00] chulkilee commented on #100
Seems like followings are not merged yet

- https://github.com/ninenines/gun/pull/198
- https://github.com/ninenines/gun/pull/199
- https://github.com/ninenines/gun/pull/200
- https://github.com/ninenines/cowlib/pull/83

[2019-07-22 14:41] essen commented on #100
Goes quicker with test cases. :-) But I am looking at the Gun PRs now.

[2019-07-30 18:26] ferigis opened #106 "function_clause error with : request_body message"
We are facing this error

[code]

I don't know how your library works but there it is complaining about the handler doesn't know how to handle `:request_body` but I saw in this [module](https://github.com/elixir-grpc/grpc/blob/d07d1357b2c105258f77b908482f694bd11b3c8d/src/grpc_stream_h.erl#L181)you are sending that message somewhere:

[code]

are we doing something wrong?

[2019-08-03 00:05] criticalbh opened #107 "cowboy dependency mismatch"
Hello,

When using `elixir-grpc` on fresh mix project and trying to integrate `prometheus` with `plug_cowboy`, `cowboy` deps are mismatching.

As a workaround I have forked `plug_cowboy` and modified `cowboy` to use one from `elixir-grpc/cowboy`: https://github.com/criticalbh/plug_cowboy/commit/32eedf8ff1963c2d592e53c7df3f1623fcbb7483
_(I have executed tests, and it behaves the same as when using

[2019-08-03 00:07] criticalbh commented on #107
Connected with https://github.com/elixir-grpc/grpc/issues/100

[2019-08-06 10:40] guanwuyu234 opened #108 "idle_timeout setting doesn't work"
We get following error in our client when the calling time exceeds 60s:

`
io.grpc.StatusRuntimeException: UNAVAILABLE: HTTP/2 error code: NO_ERROR
Received Goaway
`

So we set idle_timeout in our grpc server as:

`
supervisor(GRPC.Server.Supervisor, [{DiverWeb.GrpcEndpoint, 50051, [idle_timeout: 1_000_000]}])
`

It doesn't work, we keep getting the same error message.

However, we modify `cowboy_

[2019-08-15 20:19] jrichocean commented on #74
same here, is there a config setting to disable the gun server auto-reconnect?

[2019-08-16 14:59] essen commented on #103
Please try with the following branches:

* Gun https://github.com/ninenines/gun/pull/206
* Cowboy https://github.com/ninenines/cowboy/pull/1399

[2019-08-17 19:48] chrisenytc opened #109 "Sending error details to the client side"
Hi guys, I was going through the code trying to learn what is the implemented way of sending error details as seen in [https://cloud.google.com/apis/design/errors](https://cloud.google.com/apis/design/errors) but I couldn't find anything. How you guys are sending things like validation errors, localized messages and other relevant error information.

[2019-08-20 19:42] jrichocean commented on #74
connected to #103

[2019-08-23 10:46] brodin opened #110 "v0.4.0 is not published to hex"
Looking at https://hex.pm/packages/grpc the v0.4.0 is not yet published, will that happen sometime soon?

[2019-08-27 21:19] ferigis opened #111 "ResourceExhausted error"
hi!
When I try to reply a big response from a unary rpc call I got this error using `grpcurl`
[code]
is there a way to handle this issue nicely or increment that `4194304` message size or something?

Thanks!

[2019-09-03 10:58] chrisenytc commented on #110
That would help a lot.

[2019-09-05 12:02] essen commented on #103
I've merged both branches.

[2019-09-05 12:57] essen commented on #107
https://github.com/elixir-grpc/grpc/pull/113

[2019-09-05 12:57] essen commented on #103
https://github.com/elixir-grpc/grpc/pull/113

[2019-09-05 12:57] essen commented on #100
https://github.com/elixir-grpc/grpc/pull/113

[2019-09-12 20:18] fikse opened #114 "How to represent an SFixed64 scalar or even a JSType field option in Elixir?"
How should a user go about represent an SFixed64 scalar or even a JSType field option in Elixir?

Scalar fields:
https://developers.google.com/protocol-buffers/docs/proto#scalar

JSType field option:
https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/DescriptorProtos.FieldOptions.JSType

My protobuf file has this line:
[code]

The generated Elixir:
[code]

I don

[2019-09-12 20:34] #114 closed, assigned to nobody

[2019-09-26 15:30] emhagman commented on #110
👍

[2019-10-08 14:05] heath-hh opened #115 "UnaryStream fails with GRPC.RPCError: timeout waiting for server"
Hey! 👋 I've been using your library a bit, and I happened on an error with streams. I'm wondering if maybe the received gun_data  might have what I'm looking for or if the server isn't receiving a response.

I don't know it's the grpc library or the way I'm using it, but I could use a little guidance. Here's all the relevant information:

The Test Failure
[code]
The Test:
[code]

The library funct

[2019-10-11 08:58] tony612 commented on #37
I think this can be implemented by using codec https://github.com/elixir-grpc/grpc/pull/99

[2019-10-11 08:59] #37 closed

[2019-10-16 14:41] pettermachado opened #116 "Dialyzer fails on OTP21.3"
Running dialyzer in my project on OTP21.3 returns the following error

[code]

The `:ssl.ssl_option` type has been removed in favor or `:ssl.tls_option()` or perhaps `:ssl.tls_client_option()` in the typespec in `lib/grpc/credential.ex`. The previous type was removed in [this commit](https://github.com/erlang/otp/commit/e042afe54727ae490d47eae47c6d9a210f04dd47).

[2019-10-25 22:56] dbhobbs commented on #107
What's the status here? @tony612

[2019-10-25 22:57] dbhobbs commented on #100
@tony612 Can this be addressed? Looks like @essen is has made some updates to `gun` and `cowlib`.

[2019-11-08 18:34] chulkilee commented on #100
This is a deal breaker for us, as we want to have one service to service web api (phoenix), consume /provide gRPC. 😢

[2019-11-08 20:00] essen commented on #100
I was doing this work for a customer, but am not anymore, so the PR is not likely to progress right now. Someone else should take over or you could use my services for the few hours needed to finish this. Of course I can't say whether that'll be merged after that.

[2019-11-11 21:20] a-kinder opened #120 "Large file internal server error"
We have a service that processes files using gRPC, and although small files work fine, large files (evidently over ~2MB) return `{:error, %GRPC.RPCError{message: "Internal Server Error", status: 2}}`. Is there a way to up this limit, or chunk larger files so that we can process them?

[2019-12-02 14:22] erik-nymi commented on #110
Is this project still being maintained?

[2019-12-12 15:55] bryanhuntesl opened #122 "cowboy/cowlib forks"
Are there any plans to merge the cowboy/cowlib forks upstream? I'm thinking the forks might miss out on security fixes/new functionality over time.

[2019-12-15 14:26] sikanrong opened #123 "[Question] Library still actively being updated?"
We've been waiting about 9 months for a new version, specifically for a final (non-alpha) version of 0.4.0. The warning about production use of this library is really ominous. We're using it as a dependency in our `etcd_client` library, hoping that eventually gRPC would be updated to reflect stability. Should we stop hoping for that?

I'm obliged to ask because this directly affects my business an

[2019-12-16 08:45] vicenteortegatorres commented on #122
As an alternative, could it be possible to directly update to last cowboy/cowlib versions due to this issue https://github.com/ninenines/cowboy/pull/1393 was already fixed by the author of those libraries?

[2019-12-24 03:46] tony612 commented on #110
I published 0.5.0-beta, could you try it. If it works, I will publish the stable version. Also, remember to see https://github.com/elixir-grpc/grpc#installation for a little hack. I guess this hack won't be used later on because only one PR is waiting to be merged and gun 2.0 is being waited to be released.

[2019-12-24 03:47] tony612 commented on #123
Sorry about the delay. See https://github.com/elixir-grpc/grpc/issues/110#issuecomment-568643162

[2019-12-24 03:47] #123 closed

[2019-12-24 03:56] tony612 commented on #122
Sorry for the delay. See https://github.com/elixir-grpc/grpc/issues/110

[2019-12-24 03:56] #122 closed

[2019-12-24 03:59] tony612 commented on #120
Could you try the master or 0.5.0-beta? I believe this is already fixed because there's a test case https://github.com/elixir-grpc/grpc/blob/f9402719d86b61d1d57fed9edfaf597ec3606b65/interop/lib/interop/client.ex#L27

[2019-12-24 04:00] tony612 commented on #103
Could you try 0.5.0-beta?

[2019-12-24 04:01] tony612 commented on #107
See https://github.com/elixir-grpc/grpc/issues/110#issuecomment-568643162

[2019-12-24 04:02] #107 closed

[2019-12-24 04:03] tony612 commented on #111
Is there a way to reproduce this? btw, please try master or 0.5.0-beta, which update cowboy.

[2019-12-24 04:04] tony612 commented on #100
Closing this. See https://github.com/elixir-grpc/grpc/issues/110#issuecomment-568643162

[2019-12-24 04:04] #100 closed

[2019-12-24 04:06] tony612 commented on #102
Please see this https://github.com/elixir-grpc/grpc/issues/110#issuecomment-568643162

[2019-12-24 04:06] #102 closed

[2019-12-24 05:20] #108 closed

[2019-12-24 05:20] tony612 commented on #108
It's a bug. I didn't realize inactivity_timeout and idle_timeout are different.

[2019-12-24 05:21] tony612 commented on #106
Could you try master or 0.5.0-beta?

[2019-12-24 05:46] #61 closed

[2019-12-24 05:47] #74 closed

[2019-12-24 05:53] tony612 commented on #56
I think this has been fixed on master.

[2019-12-24 05:53] #56 closed

[2019-12-24 07:36] #116 closed

[2019-12-24 18:39] sikanrong commented on #123
Awesome!! Thanks so much for responding - no probz about the delay

[2019-12-25 06:21] tony612 commented on #115
Could you try master/0.5.0-beta? I updated gun/cowboy recently.

[2020-01-10 19:44] mairbek opened #132 "settings_timeout when connecting to python"
We are running into the `settings_timeout` issue in cowlib when we are connecting to python servers from elixir-grpc.

Steps to reproduce.

First, run python server

[code]

Then connect to it from elixir-grpc

[code]

[2020-01-10 19:46] mairbek commented on #132
@essen do you think it is a bug in the gun client? Any option we can pass to avoid error?

[2020-01-10 20:02] essen commented on #132
It's missing something in the implementation. See https://github.com/ninenines/gun/blob/master/src/gun.erl#L1251

You should open a ticket for Gun so that it gets fixed.

[2020-01-24 16:18] lucaspiller opened #136 "How to go about implementing bidirectional streams?"
I want to use this to setup a service that's defined like this. This works as long as the client streams requests, and then the server streams responses.

[code]

In my case the roles of server and client are reversed, as I'm using this for the server to make RPC calls to the client. I want the server to start streaming requests, which the client will respond to, and then the server streams more r

[2020-02-03 03:21] tony612 commented on #136
No, you can't let a server start the streaming requests. Please let me know if you can do this in other implements like Go, Ruby.

`req_enum` is a `Stream`, you can use all functions in https://hexdocs.pm/elixir/Stream.html . When you `take` one item from the stream, the server will try to receive one message.

[2020-02-03 14:23] lucaspiller commented on #136
Right you can't do this directly in gRPC, but the client can make a call with the signature above to open a bidirectional stream. Depending on how you handle the messages from the server on the client, you can effectively have the server stream requests to the client.

Ok that's what I was missing, in Go the same parameter is used for sending and receiving so I was trying to receive on the second

[2020-02-03 14:23] #136 closed

[2020-02-04 02:12] mairbek opened #138 "stream_error: :closed"
**Describe the bug**

we are getting this error in the `GRPC.Stub`

[code]

**To Reproduce**
I'm trying to figure out but hard to reproduce with an example.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Logs**
If applicable, add logs to help explain your problem.

**Protos**
If applicable, add protos to help explain your problem.

**Versions:**
- OS:
- E

[2020-02-06 23:48] mairbek commented on #138
Turns out that the correct version of cowlib wasn't resolved. Closing this.

[2020-02-06 23:48] #138 closed

[2020-02-08 22:19] mairbek opened #141 "Timeout in bi-drectional stream"
**Describe the bug**
After upgrading to the HEAD bi-directional RPCs started timing out. A debugging session that we ran indicates that

[code]

is timing out with a default timeout which is 15 seconds + 1. I was able to write a test that indicates the bug, https://github.com/mairbek/grpc/commit/0d92937c65f7ed1862062347e07f64e0aa8c1e18

Note that downgrading to the older version of the library fix

[2020-02-08 22:31] mairbek commented on #141
@tony612 could you take a look? I cannot pinpoint what caused the regression but https://github.com/elixir-grpc/grpc/pull/142 seems to be a potential fix.

[2020-02-10 22:18] prydonius commented on #141
This appears to be the commit where cowboy was upgraded and this issue starts appearing (https://github.com/elixir-grpc/grpc/commit/43ec98549d41109b460684569f3b9a1d2dd0fa68). After downgrading cowboy to `grpc-2.6.3` and cowlib to `grpc-2.7.3`, and reverting the change to `grpc_stream_h.erl`, it works as expected.

[2020-02-12 07:07] tony612 commented on #141
I think @prydonius 's guess is right. Your PR is merged. btw, let me set the client's timeout to `:infinity` if it's a streaming RPC.

[2020-02-12 07:07] #141 closed

[2020-02-12 07:28] tony612 commented on #141
I created a PR to set default timeout to `:infinity` only for streaming calls. Please leave some comments.

[2020-02-12 19:56] mairbek commented on #141
thank you for addressing!

[2020-02-13 02:05] tony612 commented on #132
@mairbek I saw the Gun issue is fixed. Could you try it?

[2020-02-21 14:54] grantwest opened #145 "Client side Stream lifetimes are not clear from documentation"
I have a function that is a normal request with streaming response, and these are my questions/confusions:

Should I be calling `GRPC.Stub.recv` on the stream multiple times? It feels like I should.

The documentation mentions the `end_stream` function, then it says this:
[code]
So presumably there is a way to get the stream to be `fully_closed` or something?

And lastly, the `do_call` function ha

[2020-02-24 21:39] mairbek commented on #132
@tony612 yes, that's what we have been running in production!

-- to clarify @prydonius and myself are on a same team :)

[2020-02-25 20:41] isaacsanders opened #146 "This library should use Plug"
**Is your feature request related to a problem? Please describe.**
I want to be able to use the code that myself and others have written that exists in the ecosystem.

**Describe the solution you'd like**
GRPC uses Plug as its interface.

**Describe alternatives you've considered**
None. There isn't really an alternative to this particular feature request.

**Additional context**
Plug is the commu

[2020-02-25 20:50] hkrutzer commented on #146
How would that work if the protocol is not http?

[2020-02-25 22:12] isaacsanders commented on #146
I don’t think it has to. This library would just needs to provide an interface for that allows for embedding into a Plug structure, rather than exposing its own server integration.

[2020-02-25 22:25] hkrutzer commented on #146
How would it handle headers, cookies, body_params, query_params and other HTTP features that are in Plug?

[2020-02-27 15:07] hkrutzer opened #148 "gRPC reflection"
**Is your feature request related to a problem? Please describe.**
When I use a tool such as [grpcurl](https://github.com/fullstorydev/grpcurl) it cannot use server reflection and one must specify the protocol buffer files.

**Describe the solution you'd like**
Support [gRPC reflection](https://github.com/grpc/grpc/blob/master/doc/server-reflection.md)

**Describe alternatives you've considered**

[2020-02-28 01:01] 2ne1ugly opened #149 "Reading request stream blocks writing reply stream"
**Describe the bug**
Waiting for request stream seems to block GRPC.Adapter.Cowboy.Handler process. So sending out reply from different process while waiting for request stream will cause it to stay in the message queue of GRPC.Adapter.Cowboy.Handler, making it un-retrievable until new request stream message arrives.

**To Reproduce**
2ne1ugly/grpc@54e317d
`mix test test/grpc/integration/service_t

[2020-03-17 02:42] #132 closed

[2020-03-17 02:46] tony612 commented on #149
Could you try grpc_cowlib to override cowlib? I have a note here https://github.com/elixir-grpc/grpc#installation

[2020-03-17 02:58] tony612 commented on #146
I'm afraid current Plug can't(or very difficult) be used. Plug is designed for HTTP/1 and Connection is the core. But gRPC is for HTTP/2 and Stream is the core. And many things of Plug won't match with gRPC like Router and things mentioned by @hkrutzer . They are very different. You can try with this if you want, but I won't take it to my plate for the moment. Sorry about this.

[2020-03-17 02:58] #146 closed

[2020-03-17 03:03] tony612 commented on #145
It depends on what type streaming is your RPC. There are three types:
1. Client-side streaming
2. Server-side streaming
3. bi-direction
The usage will be a little different for them. You can look at interop for examples, like the server-side streaming https://github.com/elixir-grpc/grpc/blob/master/interop/lib/interop/client.ex#L99

[2020-03-17 05:06] 2ne1ugly commented on #149
At least in the original code I've been working on, it had the override. For the test case, I can go back and test when the lock-down ends👍

[2020-03-17 16:37] 2ne1ugly commented on #149
Just tested from aws, it still has the issue

[2020-03-21 08:37] tony612 commented on #149
OK. I think we know the problem. Let me try to fix it.

[2020-03-21 13:41] tony612 commented on #149
@2ne1ugly I fixed this issue in https://github.com/elixir-grpc/grpc/pull/151. Could you that branch to verify it?

[2020-03-21 13:54] tony612 commented on #148
I wanted to support this, but don't have time recently. I'm glad to see contribution. 👍

[2020-03-21 18:23] 2ne1ugly commented on #149
tested on test case + project, it seems to be fixed. Thanks for resolving.

[2020-03-21 18:23] #149 closed

[2020-03-22 05:50] tony612 commented on #149
Merged that PR. If it's not urgent for you to use the hex package, I'll release a new version after some commits. Thank you!

[2020-04-22 05:08] mackeyja92 opened #154 "Upstream gun fork"
Since this package depends on a fork of the gun library, is it possible to upstream those changes? There is two issues with the current system:

1. The fork is behind. I’m not sure what has changed upstream but there is quite a few commits behind.
2. The way that gRPC is specifying this dep, it actually requires an override of gun as well if the project is already using gun for other stuff, such a

[2020-04-22 05:17] mackeyja92 commented on #154
Ah, so after some more investigation I see that the fork is up to date with a tag on the upstream. Maybe all that is needed is an updated readme on here explaining how to appropriately override this until it is merged and further explanation of why the fork.

[2020-04-22 15:40] mackeyja92 commented on #85
+1 for connection pooling. Currently doing #2 and it is indeed suboptimal

[2020-04-30 05:14] sleipnir commented on #148
Hi guys!
Undoubtedly having this functionality would be very important.
Generally, most people mention that this would be important only for things like grpcurl, however, there are many important use cases like proxies, dynamic routers, and etc. that could be built on top of this functionality.
I for example work on a project that creates a sidecar kubernetes pod and implements the grpc interfaces

[2020-05-01 01:48] alex88 commented on #85
If anyone is interested I've open sourced a small library that I use internally that does the connection pooling https://hex.pm/packages/grpc_client_pool
Any advice/complaint/suggestion is very welcome!

[2020-05-07 02:51] tony612 commented on #154
Added a note in README and opened an issue for Gun.

[2020-05-07 02:51] #154 closed

[2020-05-23 16:30] lessless commented on #51
Macaroon should be sent as a part of request `metadata`. There is nothing to be added to the library to be able to authenticate in LND service.
This issue can be closed.

[2020-05-23 17:27] lessless opened #155 "Error when trying to subscribe to server -> client unidirectional stream"
**Describe the bug**
Hi,

I'm encountering an error when trying to subscribe to unidirectional server->client stream. Few endpoints that I tried are https://api.lightning.community/#subscribeinvoices and https://api.lightning.community/#subscribetransactions
Talking to both of them gives `error: %GRPC.RPCError{message: ":stream_error: :closed", status: 13}`.

Updated: *it seems that problem can be

[2020-05-23 19:33] lessless commented on #155
So far my debugging efforts lead me to uncover that it might a problem in gun:
`:gun.await` in  https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/adapter/gun.ex#L251 returns `{:error, {:stream_error, :closed}}`

@tony612 what are your thoughts?

[2020-05-24 10:21] lessless commented on #155
Few more observations:

That endpoint accepts a structure with two parameters, both of which can be `0`:
[code]
is a valid message instructing endpoint to return all known invoices.

The `data` that is being passed over to  Gun in `GRPC.Adapter.Gun.send_data` https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/adapter/gun.ex#L118  is `<<0, 0, 0, 0, 0>>`. The outcome for this packet is mention

[2020-05-24 10:44] lessless commented on #155
Ok, I can see similar error while connecting from Node.js. I guess this is not a grpc or gun problem at all :\

[2020-05-31 06:22] lessless commented on #155
The issue was not in grpc.

[2020-05-31 06:22] #155 closed

[2020-06-03 09:30] bszaf opened #159 "Why GRPC.Adapter.Gun.connect/2 returns {:error, String.t()} on error?"
I would like to handle some connect errors, that are returned from `:gun` in specific way.

Is there any reason why the error is converted to string?
https://github.com/elixir-grpc/grpc/blob/d8a58cca77a5fc106669f8ddaee634e0a3ba9267/lib/grpc/adapter/gun.ex#L68-L71

Would it be okay to return just `{:error, reason}` instead of creating String error message?

Otherwise, for compatibility reasons, can

[2020-06-05 20:44] asummers opened #160 "Exceptions Bypass Interceptors"
**Describe the bug**
The type spec for the Server Interceptor `next` return type is:

[code]

but when raising an error, e.g

[code]

the interceptor seems to be bypassed entirely and is never given the `{:error, exception}` tuple .

**To Reproduce**
Create an interceptor with the following `call/2`:

[code]

create a protbuf call that does something like the following:
[code]

Make a call with e.

[2020-06-05 21:00] asummers commented on #160
Note that adding:

[code]

into the interceptor list at the bottom restores what I believe to be the intended behavior, but this should not be necessary.

[2020-06-12 06:14] tony612 commented on #159
String is to keep consistent with `{:error, "Error when opening connection: protocol #{proto} is not http2"}`. Let me change this.

[2020-06-12 06:28] tony612 commented on #160
At first, exception is catched in the innermost layer. Now it's changed https://github.com/elixir-grpc/grpc/pull/96. The main reason is now we can support catching the exceptions in interceptors, which is more flexible and exceptions in interceptors are also handled. But yes, as you said, now interceptors may need to handle exceptions. I'm thinking maybe we can improve this by:
1. We only rescue `

[2020-06-12 06:35] tony612 commented on #160
btw, I checked Plug code. It seems it also doesn't catch the exceptions in the innermost layer.

[2020-06-13 23:06] jared-mackey opened #162 "Ideal way to test servers and clients?"
**Describe the question**
What is the ideal way to test our servers and clients? I have looked at the example apps and do not see any tests written there.

For clients, I'd like to just use mox if I can.

For servers, I'd like to simulate a request coming in.

What are your thoughts?

[2020-06-18 10:41] hkrutzer commented on #160
I think Plug has https://hexdocs.pm/plug/Plug.ErrorHandler.html. Your option 2 seems best.

[2020-06-22 07:57] frekw commented on #85
I actually think connection pooling is the wrong path to take. The point of HTTP/2 is to be able to multiplex several calls over a single connection. And connection pools are basically about guarding access to a set of shared resources.

Just keeping multiple connections open, monitoring their status and spreading the load across them should be fine and won't introduce the unnecessary contention a

[2020-06-23 05:23] mackeyja92 commented on #85
I agree with @frekw here.

You can use registries here as a pool since you don’t want to lock the connection from being multiplexed on. A registry that is `host` -> `channel` would be sufficient. Enabling duplicate keys could allow you to have multiple connections in here and then you can just do something like `Enum.random(channels)` on the results of your registry select call and that would prob

[2020-07-16 15:23] igormq opened #165 "gRPC cannot be restarted without restarting VM's state"
**Describe the bug**
gRPC Runtime loads its extensions in a non idempotent way, preventing the `:grpc` application to get up when restarted without restarting the VM's state (due to the use of `:persistent_term`)

**To Reproduce**
[code]

**Expected behavior**
It should started without raising any exception

**Versions:**
- OS: MacOS
- Erlang: 22.3
- Elixir: 1.10.3
- mix.lock(grpc, gun, cowboy, co

[2020-07-18 21:55] sleipnir commented on #148
Hi guys!
Any news here?

[2020-07-20 07:13] hkrutzer commented on #148
I'm not working on it in the foreseeable future so feel free to take it :)

[2020-07-20 14:05] sleipnir commented on #148
Okay, thanks @hkrutzer. I just wanted to know the status. I have no technical conditions for this at the moment.

[2020-07-23 19:02] pdgonzalez872 opened #166 "Have we tried to add this implementation to the official supported languages in the gRPC project"
Thank you for maintaining this project!

Have there been any efforts to have this implementation added to the official supported languages in the `grpc` project? I [posted on the gRPC mailing list](https://groups.google.com/d/msg/grpc-io/zAIxtCqh8OI/ORLWVrTVAAAJ) earlier today asking if there was a mechanism for this type of addition. If there was an effort, could you please let me know why it did

[2020-07-29 20:55] sleipnir opened #167 "Implement two different services under the same port"
Hello, I would like to congratulate you on the project.

I have a question, on my gRPC server I need to implement two different services under the same port. Is this possible with this library?

[2020-07-29 23:39] sleipnir commented on #167
I took a look at the Endpoint module and found the answer to my question. Thank you!

[2020-07-29 23:39] #167 closed

[2020-07-29 23:44] sleipnir opened #168 "Create / implement a service dynamically"
I am building an application that should act as a grpc proxy for other applications. I need to discover and implement the gRPC services exposed by these third-party runtime applications. Could I achieve these goals in any way with this library?

I was able to discover rpc services and methods via FileDescriptorSet and FileDescriptorProto, but how would I manage to implement them at runtime?

Thank

[2020-07-30 16:18] sleipnir commented on #168
ping

[2020-07-30 16:28] sleipnir commented on #91
Hi guys!
Is this project active?

[2020-08-03 01:40] ljmarks opened #169 "Bidirectional streaming performance with 1MB payload"
**Describe the question**
I'm running a quick performance test using the included `routeguide` service and finding that it takes around 30 seconds to send and receive 100 messages using the `route_chat` rpc method if the `msg` field of each message the client sends contains 1MB of random bytes, using the loopback interface on one machine. The server is returning an empty message.

_Is this the exp

[2020-08-03 02:23] ljmarks commented on #169
A couple of extra details:

- Decreasing the payload size to 64 KB results in 175ms send-and-receive time. Thats a reduction of 16x in size resulting in a 175x speed increase
- Using `observer_cli` it appears that most of the time is taken by a single cowboy process started using `cowboy_clear:connection_process/4`. An investigation of the execution stack of that process indicates that the functio

[2020-08-17 14:21] praveenperera opened #170 "Better error handling"
I think the error handling good be improved a little bit. Instead of always returning the same `RPCError` struct we could pattern match on the status code and return different errors. Currently I'm doing it like below. If you like this approach I could do a PR:

[code]

[2020-09-11 19:01] hmatinho opened #172 "calling RPC fails"
**Describe the bug**
following the example fails

**To Reproduce**
setup as in the example
when reaching call rpc with
{:ok, channel} = GRPC.Stub.connect("localhost:50051")

fails with

19:58:33.955 [error] Unexpected event in state :domain_lookup of type :info:
{:timeout, #Reference<0.3183912324.4145283078.197184>, {:cow_http2_machine, :preface_timeout}}
{:state, #PID<0.801.0>, {:up, #Reference<0

[2020-09-12 01:55] ljmarks commented on #172
What's happening here is that gun's http2 state-machine is timing out while waiting for the server to send the [preface  ](https://http2.github.io/http2-spec/#ConnectionHeader).

This should only happen after gun has initiated and established a TCP connection on the specified address/port and therefore the call to `GRPC.Stub.connect/1` should return after a TCP connection is established. You menti

[2020-09-14 11:26] hmatinho commented on #172
@ljmarks you are absolutely right, the example in question is the one in the README.md doc step 4. of the usage part (https://github.com/elixir-grpc/grpc#usage)

It does output the {:ok, channel} with the correct structure and then starts to output the error messages related to gun's http2 state machine like you stated above.

Every step above has been followed I started the GRPC server in a super

[2020-09-15 18:03] #172 closed

[2020-09-15 18:04] hmatinho commented on #172
My bad, the port on the tutorial was being used by another daemon on the system.
can we perhaps have a way to raise if the server port is being used by another process ?

[2020-09-16 13:09] AlexKovalevych opened #173 "Any limits on grpc response size?"
**Describe the question**
I'm getting an error when grpc server tries to send a big response (~400 kb):

[code]

**Versions:**
- OS: alpine 3.9
- Erlang: 22
- Elixir: 1.9.1
- mix.lock(grpc, gun, cowboy, cowlib):
grpc - 6493159b763530f7d04a904885ab315d2cafc05f
gun - 2.0.0
cowboy - 2.7.0
cowlib - 2.8.0

[2020-09-16 15:16] 9to1url opened #174 "Does enum in proto file supported and one example to use it?"
[code]

This is generated code:
[code]

If really supported, how to use this :LOGIN ?

[2020-09-16 23:53] ljmarks commented on #174
It is supported. For example:

[code]

[2020-09-17 07:25] ljmarks commented on #173
Seems related to this: https://github.com/ninenines/cowlib/issues/92 which should have been fixed in cowlib 2.9.

I would try and update cowlib. Here's one way to do that:
Add this:
[code]
to the bottom of your deps list in `mix.exs` then do `mix deps.update cowlib`.

[2020-09-17 07:52] AlexKovalevych commented on #173
yup, that was it. I had to stay on 2.8.0 cowlib since it couldn't resolve dependencies with 2.9.0 (unfortunately don't remember which library caused the problem), but now it compiles and works fine, thank you!

[2020-09-17 07:52] #173 closed

[2020-09-17 15:05] 9to1url commented on #174
Thank you, your solution works  :-)

For future user to reference this , let me expand the real call here:
[code]

or in this format:
[code]

[2020-09-29 04:34] ljmarks opened #176 "Unable to specify gun tcp_opts field when using gun v2"
**Describe the bug**
When passing options for gun via the `:adapter_opts` key in the 3rd argument to the function `GRPC.Stub.connect/3`, if you specify the `tcp_opts` field (which should be of type `[gen_tcp:connect_option()]`, see: https://ninenines.eu/docs/en/gun/2.0/manual/gun/) the field is always replaced with the value of `@default_transport_opts`.

**To Reproduce**
Ensure you are using gun

[2020-10-07 13:27] michaelst opened #177 "timeout when waiting for server"
I have an elixir app running on a raspberry pi locally. Sometimes my internet drops out and when it does it appears the channel created by `Stub.connect` gets closed, resulting in this error for all future calls ` %GRPC.RPCError{message: "timeout when waiting for server", status: 4}` even once my internet comes back. The current use cases is inside of Weddell which is storing the channel in a gens

[2020-10-07 23:10] ljmarks commented on #177
Since the HTTP/2 connection is managed by gun, it should automatically reconnect using the same connection pid.
Can you give the output of the following elixir code:

[code]

[2020-10-08 20:53] michaelst commented on #177
Here is the output of that

[code]

Establishing the connection and making the calls all happens inside the same genserver. They work initially, so are thinking that somehow the genserver changed to a different process and kept the same state trying to access the initially established connection?

[2020-10-27 14:08] ischepin opened #179 "Idiomatic way to stop server side streaming"
**Describe the question**
Hello
I am trying to understand what is the best way to notify the server that my GRPC client doesn't want to receive server stream messages anymore.
Similar question was raised in grpc-go client: https://github.com/grpc/grpc-go/issues/990
I don't see any functions in GRPC.Stub module that allow to cancel a server stream, so the only way I see is reconnecting the client e

[2020-10-27 14:30] ljmarks commented on #179
In the http2 spec there are two connections states in which neither endpoint should send any more DATA frames:

1. half-closed; and
2. closed

The primary difference being that in the half-closed state, either end-point is still permitted to send WINDOW_UPDATE frames.
See https://tools.ietf.org/html/rfc7540#section-5.1 for details.

According to the documentation for `GRPC.Stub.end_stream/1` (see

[2020-10-27 14:58] ljmarks commented on #179
In the http2 spec there are two stream states in which neither endpoint should send any more DATA frames:

    half-closed; and
    closed

The primary difference being that in the half-closed state, either end-point is still permitted to send WINDOW_UPDATE frames.
See https://tools.ietf.org/html/rfc7540#section-5.1 for details.

According to the documentation for GRPC.Stub.end_stream/1 (see https

[2020-10-27 15:31] ischepin commented on #179
Thanks for the quick response!
But as I see this function accepts `GRPC.Client.Stream.t()`, and normally one would have only `GRPC.Channel.t()`.
Also I've checked the code for `end_stream`, it will result in call to `GRPC.Adapter.Gun.end_stream/1`, that expects stream payload to have `stream_ref` field set.
Would it possible to construct proper `GRPC.Client.Stream.t()` from this code example?
[cod

[2020-10-28 08:33] ischepin commented on #179
Ok, so it's impossible to do this on client if it's a unidirectional server stream.
I've found similar questions on GitHub/stackoverflow for other languages, for example: https://github.com/grpc/grpc/issues/8023#issuecomment-245402978
The suggestion is to call `cancel` function to cancel the rpc call. But in elixir lib this function also expects a `GRPC.Client.Stream.t()`.

[2020-10-29 10:52] ischepin commented on #179
As you can see I've raised a question in lightningnetwork/lnd repo and it seems that Golang and python implementations allow to cancel unary streams from the client. Would it be possible to implement something similar in elixir library?

[2021-01-15 19:23] Maxximiliann opened #182 "Establishing/Supervising Communications With a Long-Running, Data Streaming Python Process"
Ubuntu 20.04.1 LTS
Erlang/OTP 23 [erts-11.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
Elixir 1.10.3 (compiled with Erlang/OTP 22)

Our Elixir project requires initiating and then supervising communications with a long-running, data streaming Python process. Data will be pushed to its Elixir counterpart once every second.

Is your library ideally suited for this? If so, wher

[2021-01-20 19:01] bszaf opened #184 "The GRPC.Adapter.Cowboy.Handler does not handle :EXIT message"
**Describe the bug**
The `GRPC.Adapter.Cowboy.Handler` does not handle `:shutdown` message from Cowboy.

**To Reproduce**
Steps to reproduce the behavior:
 - Open connection to GRPC Server
 - Open a stream in the context of connection. Possibly long lived
 - Close connection while stream is open: ` GRPC.Stub.disconnect(channel)`

**Expected behavior**
1. Let stream handling process know that conne

[2021-01-27 06:02] gr8Adakron opened #185 "(CaseClauseError) no case clause matching: %{syntax: :proto2}"
Hey,

I have an app which requires **diplomat**([elixir package](https://github.com/peburrows/diplomat)) and **grpc**([elixir package](https://github.com/elixir-grpc/grpc)) but as soon as I am adding both of them together in the (mix.exs file) dependency it returns me the following error while executing `mix deps.compile` command

[code]

If I comment one of either dependency then I get the exact

[2021-02-03 00:52] sleipnir commented on #179
Try:

[code]

[2021-02-11 02:42] lizziepaquette opened #188 "Crash seen on Stream reset by server, can we handle gracefully?"
**Describe the bug**

We're seeing a crash when the connection is canceled.

[code]

**To Reproduce**
We think the client is canceling the connection and then the server resets, but we're not sure.

**Expected behavior**
We're wondering if this case clause should propagate the error coming from the gun adapter rather than crashing. @tony612 any insight?

**Versions:**
- Elixir: 1.8.1
- mix.lock(gr

[2021-03-22 22:14] ryanwinchester opened #190 "When GRPC.Stub.connect/2 fails with timeout, gun still retrying?"
In order to not have my application crash during startup of the gRPC server we want to connect to is unavailable, I moved the connection of our gRPC client to the `handle_continue` callback. And then I just keep retrying every 5 seconds for now.

### Example:

[code]

This seems like it should work, and it does if the server is up. However, if the server is not up, it will attempt the connection e

[2021-03-29 18:56] isaacsanders opened #191 "Why does `GRPC.Stub.connect` return a Channel struct rather than a PID?"
As a user, I like having a PID rather than a channel, as I can do a number of things with a process:
1. I can start a PID in a supervision tree
2. I can Monitor a PID for disconnections
3. I can link other processes to PIDs
4. I can name a PID

I don't know that I find a lot of uses where the struct is a better approach to this public API.

[2021-04-03 17:41] lukaszsamson commented on #179
@sleipnir Your solution is for streaming requests. In this case it's a streaming response and Stub request returns an elixir stream (`#Function<63.104660160/2 in Stream.unfold/2>`) and not `GRPC.Client.Stream.t()`

[2021-04-05 21:57] sleipnir commented on #168
Resolved.
I processed the file descriptor at runtime compiling the declared modules and creating the endpoints and grpc servers via template

[2021-04-05 21:57] #168 closed

[2021-04-05 22:12] sleipnir opened #192 "Support access to MethodOptions fields"
**Is your feature request related to a problem? Please describe.**
The option field in methods can be used to access contextual information. an example of this would http transcoding:

[code]

[2021-04-15 13:56] sleipnir opened #193 "gRPC Web Support"
**Describe the question**
This library support [gRPC Web](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md)?
If not, are there plans to support?
If there are no plans, is there a strategy that we could implement to make this work? What would it take to make this work?

[2021-04-15 14:48] hkrutzer commented on #193
https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/grpc_web_filter could be an option for you

[2021-04-15 15:24] sleipnir commented on #193
Hello @hkrutzer thanks for replying. Yes, I know this option, and I have used it in other projects, but it would not be ideal for my current use case because I am developing a proxy and it would be desirable for this to be a feature built into it without other dependencies.
But I thank you for your suggestion.

[2021-04-29 15:19] bbenph opened #194 "'protoc-gen-elixir' is not an internal or external command, nor is it a runnable program"
**Describe the bug**
`protoc --elixir_out=plugins=grpc:./lib sample_app.proto `   not work
it said 'protoc-gen-elixir' is not an internal or external command, nor is it a runnable program

**To Reproduce**
windows10 64bit  and my elixir version

i have installed protoc  and  added to path

then i  use the follow command create my project

then install elixir-grpc
here is my mix.exs
[code]
and use

[2021-05-03 14:30] rmertzpfpt commented on #194
This issue has nothing to do with `elixir-grpc/grpc`. This should be filed with (`elixir-protobuf/protobuf`)[https://github.com/elixir-protobuf/protobuf]

With that said, just some suggestions:
- You may need to run `chmod +x c:/Users/world/.mix/escripts/protoc-gen-elixir` if it is not executable
- How are you managing your elixir and erlang installation? If you're using `asdf` you may need to res

[2021-05-24 15:59] kirega commented on #191
I am not very good at this but I believe I can provide some insight. Part of the struct payload from the channel is

[code]

[2021-05-24 16:05] sleipnir commented on #191
Hello @kirega, good suggestions. Can you show your approach to reconnection with a code example? It was not entirely clear to me how this works. Thanks!

[2021-05-24 20:01] kirega commented on #191
[code]

In this GenServer for example, I only care about the channel so I don't use state.

[2021-05-24 20:47] sleipnir commented on #191
Thanks @kirega. A question in the node_up message is it okay to try to reconnect?

[2021-05-24 21:19] kirega commented on #191
No it is not, probably not useful.

[2021-05-24 21:21] isaacsanders commented on #191
@kirega Making the channel a struct, rather than a PID, makes it hard to change thing on the fly.

It is easier for you to have changed things, but the channel could manage the gun client connection in a supervisor on its own, and the channel could be a supervisor itself, allowing you to have a more resilient interface.

I don't think there is a good reason to make it a struct vs a PID, and, while

[2021-05-28 10:20] RooSoft commented on #179
@ischepin have you found a solution? I am also trying to cancel LND gRPC streams in Elixir once my client got what it needed.

[2021-06-18 02:22] freshtonic opened #196 "Make it possible to provide an error handler so that I can report errors to arbitrary observability SaaS's"
**Describe the bug**

In `lib/grpc/server.ex` in function `do_handle_request` if the message fails to decode here `codec.decode(message, req_mod)` an exception is thrown but there is no way I can see to capture that error in order to log it to my monitoring SaaS (FWIW, I'm using AppSignal).

The error is logged via Logger (which is fine) but I also want to immediately push it to AppSignal (which r

[2021-06-18 05:16] freshtonic commented on #196
Here's a PR that implements an "exception sink" configuration option for endpoints.

https://github.com/elixir-grpc/grpc/pull/197

[2021-07-01 19:33] dbernheisel opened #199 "Support more HTTP2 clients"
**Is your feature request related to a problem? Please describe.**
Gun is great, but there are other maintained and proven HTTP2 clients, such as [Mint](https://github.com/elixir-mint/mint) and those that build upon it like [Finch](https://hex.pm/packages/finch), [Mojito](https://hex.pm/packages/mojito), and [Tesla](https://hex.pm/packages/tesla)

**Describe the solution you'd like**
A behaviour d

[2021-07-11 09:54] wingyplus commented on #199
After read the stub source, the adapter behaviour will looks like this:

[code]

I'm a bit interesting in implement adapter in Mint or Finch. And I think we can do on external repository. :D

[2021-07-22 04:29] joselo opened #201 "Deploy to Gigalixir"
Does anyone has deployed grpc server to gigalixir? I deploy it like any other app but I can't connect to the server. sorry if my question is basic but I didn't have the enough experience to deploy no-phoenix apps.

[2021-07-22 16:55] joselo commented on #201
I answer myself, It worked fine, I only had to add `elixir_buildpack.config` file with

[code]

And follow the normal process to deploy.

Btw You need to run your app using 4000 port because gigalixir uses this port for check healthy, if you want to use other port check this out https://github.com/jesseshieh/elixir-tcp-accept-and-close

[2021-07-22 16:55] #201 closed

[2021-07-23 02:53] joselo commented on #177
@michaelst I have the same problem :-( did you fixed?

[2021-08-30 20:02] dbernheisel opened #203 "OTP 23/24 Support, erlang:get_stacktrace() no longer available or returns empty"
**Is your feature request related to a problem? Please describe.**
Currently, `grpc_stream_h.erl` is using `erlang:get_stracktrace()` which was removed in OTP 24.

**Describe the solution you'd like**
Looks like we need another case statement checking the OTP release and try/catch different for 24+. It was deprecated in OTP 23 and removed in OTP 24.

https://erlang.org/doc/general_info/removed.htm

[2021-08-30 20:22] dantswain opened #204 "Access to HTTP request info, especially headers"
Information about HTTP requests can be very useful when debugging production issues.  For example, if many downstream services are consuming my API and one of those services is sending invalid requests, I want to be able to determine _which_ downstream service is sending those requests.  Another use case is to instrument my service - e.g., number of requests per consumer.

In a "traditional" HTTP

[2021-09-01 15:23] dantswain commented on #204
Answering my own question here to some extent.  After a bit of digging, I was able to get the headers and the IP:port somewhat indirectly:

[code]

I will close this issue since that's the only information that I had a concrete need for, though I wonder if it would be simpler to just tack `req` onto the payload field.  I can see where some of this data needs to be exposed in an abstract way to sup

[2021-09-01 15:23] #204 closed

[2021-09-02 08:04] drowzy commented on #193
@sleipnir I just published a PR of grpc-web support. If your still interested: https://github.com/elixir-grpc/grpc/pull/206

[2021-09-04 17:14] michaelst commented on #177
@joselo I stopped hosting locally and went to google cloud, I never figured it out.

[2021-09-08 11:05] freshtonic opened #207 "Support for alternative wire formats?"
Currently, it seems that only Protobuf is supported as a wire format.

How coupled is this library to Protobuf and is there a plan to support alternative wire formats?

[2021-09-20 14:29] drowzy commented on #207
Looking at [`GRPC.Message`](https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/message.ex) it doesn't look like being Protobuf only since the message is encoded/decoded using the codec. I might be wrong though!

For codecs see for [instance](https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/codec/erlpack.ex).

usage:
[code]
[code]
You can implement your own by implementing the [`codec

[2021-09-20 23:28] freshtonic commented on #207
Thanks @drowzy - that's great. I swear I looked at the project README and "support protocols other than Protobufs" was unchecked :)

[2021-09-20 23:28] #207 closed

[2021-09-30 17:35] rands0n opened #208 "consider show only one type of log when using level option on logger"
**Is your feature request related to a problem? Please describe.**

When using `intercept GRPC.Logger.Server, level: :info`. I want to show only this level of the log.

If I do it now, it will transform all logs, even `info`, `warn`, and `error` to the option I specified.

**Describe the solution you'd like**

I think we could have an option, `only: true`. This will say that I want only log of thi

[2021-10-14 14:49] mrjoelkemp commented on #194
I wasn't using asdf, so I had to add `PATH=~/.mix/escripts:$PATH` to my zsh profile (then` source ~/.zshrc` in my case) to make protoc-gen-elixir appear as a standalone executable.

That really was the key to getting protobuf compilation to work without modifying any protobuf files. I'll open a PR to add this to the elixir-protobuf readme.

We should close the issue here.

[2021-11-06 11:36] lessless opened #211 "Time to abandon cowlib fork"
Hi,

The PR https://github.com/ninenines/cowlib/pull/93 was merged and it's time to drop cowlib fork

[2021-11-17 21:06] codeadict commented on #211
This seems to not use the fork anymore

[2021-11-18 10:00] lessless commented on #211
Yup, closing the issue

[2021-11-18 10:00] #211 closed

[2021-11-22 14:57] codeadict opened #212 "Add support for OpenCensus instrumentation"
**Is your feature request related to a problem? Please describe.**
There is no good way to add instrumentation to gRPC clients and Servers.

**Describe the solution you'd like**
Add [OpenCensus](https://opencensus.io) interceptors for stats and tracing. Stats that should be collected are defined at Details on all the metrics that are collected can be found in the [OpenCensus gRPC Stats specificati

[2021-12-30 20:07] guisehn opened #213 "How to pass channel arguments?"
**Describe the question**

The [gRPC core concepts docs](https://grpc.io/docs/what-is-grpc/core-concepts/#channels) page says that a gRPC channel can receive arguments:

The [gRPC keepalive docs](https://github.com/grpc/grpc/blob/801c2fd832ec964d04a847c6542198db093ff81d/doc/keepalive.md) says that the keepalive ping is controlled by using **channel arguments**.

I am currently having issues when t

[2021-12-30 20:30] guisehn commented on #61
I'm having the same issue when connecting an Elixir client to a Ruby client. I think I was able to figure out what's happening.

The default config values for gRPC keepalive as I'm writing now are:

- `GRPC_ARG_KEEPALIVE_PERMIT_WITHOUT_CALLS`: false
- `GRPC_ARG_HTTP2_MAX_PINGS_WITHOUT_DATA`: 2
- `GRPC_ARG_HTTP2_MAX_PING_STRIKES`: 2

Reference: https://github.com/grpc/grpc/blob/master/doc/keepalive

[2022-01-20 18:13] DaveElGhoul opened #214 "Cannot generate a proto file"
**Describe the bug**
I'm getting a no match error when attempting to generate elixir code from a proto3 file.
[code]

**To Reproduce**
Steps to reproduce the behavior:
I suspect this is a windows issue, as I've seen a similar issue here: https://github.com/elixir-grpc/grpc/issues/23

**Expected behavior**
A ``.pb.ex`` file generated

**Versions:**
- OS: Windows 10 64-bit
- Erlang: Erlang/OTP 22
-

[2022-02-27 20:44] hiro1107 opened #216 "Connecting to node.js gRPC server running on Google Cloud Run always return frame_size_error"
**Describe the question**
Hi everyone, I'm struggling with using  ellixir-grpc/grpc to connect with gRPC server running on Google Cloud Run. I'm trying to run code like below.
[code]

However, it always return

[code]

So, my current workaround is to use grpcurl.

[code]

With this workaround, I can make it work, but I'd like to use elixir-grpc if it is possible so that I don't need to install go

[2022-04-11 00:28] rdiaz82 opened #217 "Keep the stream opened for a long time communication"
**Describe the question**
Hi!! I'm trying to implemente a pub / sub architecture using gRPC. I would like to maintain the stream opened between client / server in order to push in any moment information from the server to the client.

Initially I thought that simply keeping the stream object I could use it to call whenever I wanted the `send_reply` method, but it seems to not work in that way :(

[2022-04-28 09:00] AleksandarFilipov commented on #208
Stumbled upon this; you could just "duplicate" `GRPC.Logger.Server` and modify it according to you needs.

[2022-06-14 07:26] wingyplus commented on #214
It seems it's the issue on protobuf  that I found a few days ago https://github.com/elixir-protobuf/protobuf/issues/279

[2022-06-24 13:43] polvalente opened #220 "Configurable HTTP Client"
With the issue of Gun 2.0 being hung up, perhaps we could try to go on a configurable client direction.
For example, Mint could be a suitable replacement. However, instead of locking into a single library, I
propose we add a `@behaviour` around the desired HTTP client features, which should help users
migrate more easily on their own should the need come.

I'm totally open to working on this featu

[2022-06-24 13:45] polvalente commented on #220
Looks like this is a duplicate for #199
I'll close this and take the discussion there

[2022-06-24 13:45] #220 closed

[2022-06-24 13:47] polvalente commented on #199
Can I work on making the HTTP Client a configurable behaviour/implementation instead of a client lock-in?
We could provide a Mint and a Gun adapter by default (Gun being for retrocompatibility), but people would be able to choose other ones if they wanted :)

[2022-06-24 19:24] yordis commented on #199
Strongly encourage you to make things better for the ecosystem.

You can learn from it and (maybe, we never know if the core contributors will take it 🤷🏻 ) give us all a greater experience.

So please do!

[2022-07-01 23:18] polvalente commented on #199
I'm starting to look into this now. Hopefully a PR comes in soon

[2022-07-16 23:42] polvalente opened #223 "[CI] Run Interop tests in with the version matrix"
Currently, our interop tests only run in a specific Elixir 1.9 image.
I think it would be better to run them in a version matrix like the unit tests. Since they take long, perhaps we can use either a reduced matrix or just run them in the main branch

[2022-07-16 23:53] #188 closed

[2022-07-16 23:53] polvalente commented on #188
@lizziepaquette could you validate if the main branch has indeed fixed the issue through #175? We can reopen it if the bug persists.

[2022-07-17 00:22] polvalente opened #225 "[deps] update protobuf to 0.10+"
0.10 has breaking changes which were too much for #224
We need a separate PR for that

[2022-07-17 01:45] polvalente opened #226 "[tests] Add tests for request-id feature"
PR #198 has been merged without unit tests. We should add some to ensure everything plays as expected

[2022-07-17 01:46] #226 closed

[2022-07-18 08:14] polvalente commented on #203
The error handling has been updated in #224
I'll close this issue, but feel free to comment or open another one if your problem isn't solved

[2022-07-18 08:14] #203 closed, assigned to nobody

[2022-07-18 08:16] #51 closed

[2022-07-18 08:22] #85 closed

[2022-07-18 08:24] polvalente commented on #103
Closing due to updates in #224 and the discussion being stale

[2022-07-18 08:24] #103 closed

[2022-07-18 08:24] #106 closed

[2022-07-18 08:25] #111 closed

[2022-07-18 08:26] polvalente commented on #111
Closed due to lack of response

[2022-07-18 08:27] polvalente commented on #120
Closing due to possible fix and lack of subsequent response

[2022-07-18 08:27] #120 closed

[2022-07-18 08:28] #145 closed

[2022-07-18 08:29] polvalente commented on #148
Is this issue still relevant?

[2022-07-18 08:31] polvalente commented on #160
@asummers @hkrutzer is this issue still relevant?

[2022-07-18 08:33] polvalente commented on #162
@jared-mackey we're discussing adding a behaviour for clients and servers in #199 and #200

This should enable Mox usage more easily. For now, it is already possible if you define your own behaviour and forcibly configure it. I'll close this issue in favor of that.

Let me know if this still doesn't solve your problem :)

[2022-07-18 08:33] #162 closed

[2022-07-18 08:34] polvalente commented on #165
This seems to be an upstream problem in protobuf, as discussed (and fixed?) in elixir-protobuf/protobuf#130

We have updated to protobuf 0.9 (and will update to 0.10 soon), so I think this issue is resolved

[2022-07-18 08:34] #165 closed

[2022-07-18 08:49] #174 closed

[2022-07-18 08:51] polvalente commented on #176
We can resolve this by doing a merge on the options in a way that allows for a per-call override

[2022-07-18 08:59] polvalente commented on #177
Running local tests (the example in `examples/helloworld`) in the main branch resulted in the client hanging until either it returned a timeout or the server came back up on the same endpoint.

The client received the response correctly even if the server comes back up after a given request attempt has been started, without reconnecting.

Let me know if this behavior doesn't resolve this issue!

[2022-07-18 08:59] #177 closed

[2022-07-18 09:02] polvalente commented on #182
This library does solve the problem. It's basically the `examples/helloworld` example, but with the client being called from the Python side.

I don't know if you really need gRPC, though. If they are running on the same machine by definition, perhaps an Erlang Port might resolve the problem.

[2022-07-18 09:16] polvalente commented on #184
@bszaf do you have a code snippet so that we can reproduce this bug? We have updated our dependencies recently as well, so that might have changed

[2022-07-18 09:17] polvalente commented on #185
protobuf has been updated to 0.9 (and will be updated to 0.10 soon), so I think this is not a problem anymore.  Let me know if it persists!

[2022-07-18 09:18] polvalente commented on #190
Is this still relevant?

[2022-07-18 09:26] polvalente commented on #192
@sleipnir do you want to take this on?

[2022-07-18 09:29] #194 closed

[2022-07-18 10:14] hkrutzer commented on #148
Yes

[2022-07-18 10:51] polvalente commented on #212
I'm not sure adding OpenCensus directly to the repo is the best idea for now, since it is a direct alternative to OpenTelemetry and I'd rather not support both simultaneously. There doesn't seem to be a consensus on which standard to follow for now.

However, if you want to contribute interceptors as a separate library, I'd be happy to link to them somewhere in the docs.

[2022-07-18 10:51] #212 closed

[2022-07-18 10:52] polvalente commented on #213
@guisehn is this issue still relevant? If so, do you want to tackle eventual implementations needed for it?

[2022-07-18 10:52] polvalente commented on #214
Closing because this is an upstream issue in protobuf

[2022-07-18 10:52] #214 closed

[2022-07-18 10:55] polvalente commented on #148
@hkrutzer Do you want to take this on as a PR?

[2022-07-18 17:04] guisehn commented on #213
@polvalente I think it's still relevant. Not sure how to implement that though.

[2022-07-18 17:06] polvalente commented on #213
This one seems to be related to the client adapter (which is currently written in with Gun)

We should probably hold off until #199 is done to work on this

[2022-07-19 00:54] wingyplus commented on #225
I’ve been successfully upgrading it to 0.10 from this patch here https://github.com/wingyplus/grpc/commit/eba6f5770c1b38c3dd35dda820353355699bcc9f#diff-dfa6f4ed74c90e5d4fda283d547d366586e690387289bcfd473e3fa5f9ace308R39.

[2022-07-19 00:57] polvalente commented on #225
Yeah, I ended up not upgrading because it required more than just bumping deps...
Do you want to send a PR on this, @wingyplus?

[2022-07-19 01:15] wingyplus commented on #225
Yes. I will opening it within this day. :)

[2022-07-19 04:06] wingyplus opened #229 "Telemetry support"
It would be good if have telemetry support for this library. I'm not sure if interceptor is a good fit but we can start from that.

[2022-07-19 04:14] wingyplus commented on #225
Opened. :)

[2022-07-19 08:33] wingyplus opened #232 "Duplicate encode/decode protobuf message modules"
Currently, we have 2 modules that do encode/decode protobuf message:

The first one is `GRPC.Codec.Proto`, the usage in code base is:

[code]

And the second one is `GRPC.Message.Protobuf` which do similar thing but accept `mod` and `struct` separately. It's no usage in the code base but just test:

[code]

I purpose to remove `GRPC.Message.Protobuf` since there's no usage in our code base. I can

[2022-07-19 08:35] wingyplus commented on #199
I am interested in helping this issue going forward since it has benefits in my service that I take care of. What should we start?

[2022-07-19 08:41] polvalente commented on #199
This one has work in progress in #200 and I'll also be coordinating with what some other forks have done.

We can find another task if you can't find an issue that piques your interest

[2022-07-19 11:58] wingyplus commented on #223
Let start running on the main branch with matrix support?

[2022-07-19 12:00] wingyplus commented on #223
Or running on PR with newest OTP/Elixir version and run full matrix when merge to master branch?

[2022-07-19 12:43] polvalente commented on #223
I like this alternative!

[2022-07-19 13:48] #225 closed

[2022-07-19 13:59] #208 closed

[2022-07-19 14:45] polvalente commented on #232
Is it used in tests? Perhaps we can just remove GRPC.Message.Protobuf and replace with the other one

[2022-07-19 15:17] wingyplus commented on #232
See only its tests not other place. :(

[2022-07-19 15:23] #232 closed

[2022-07-19 15:46] polvalente commented on #229
I think some default interceptors would do just fine, although perhaps we can have events being published directly by the core server and client functions.

I would have something like `[:grpc, :server, ...]` and `[:grpc, :client, ...]` for the event names.
What do you propose we publish through telemetry? I think we should decide what events we want and then we can look at how to implement them

[2022-07-19 15:54] polvalente commented on #148
@sleipnir Have you implemented this on your fork? Do you want to bring the implementation to the repo?

[2022-07-19 15:56] polvalente commented on #46
@qinix do you recall to which part of the code this issue pertains? I'd like to improve upon that, but I'm not sure which part of the code you're talking about here

[2022-07-19 16:04] polvalente commented on #170
@praveenperera would you still like to contribute with this?

I think this approach is good and we can accompany it with a `is_rpc_error` guard so users can still match in a generic manner wherever needed.

[2022-07-19 16:05] polvalente commented on #170
Another possible solution is to just document the status atoms better

[2022-07-19 16:13] #159 closed

[2022-07-19 16:14] polvalente commented on #196
Perhaps this is also related to #229
I guess if you just want to report errors, we should be able to provide sufficient Telemetry events for that

[2022-07-19 16:16] polvalente commented on #216
@hiro1107 do you have a repo which reproduces this bug easily?

[2022-07-19 20:43] AleksandarFilipov opened #237 "@AleksandarFilipov I think we could use the interceptors in a similar way to how Tesla modifies the current response given the result of `next.(stream, req)`"
@AleksandarFilipov I think we could use the interceptors in a similar way to how Tesla modifies the current response given the result of `next.(stream, req)`

https://github.com/elixir-tesla/tesla/blob/master/lib/tesla/middleware/compression.ex

In this example, they decide if the resp body needs to be decompressed based on the result tuple tag. We can provide a custom interceptor that injects res

[2022-07-19 21:21] AleksandarFilipov commented on #179
@ischepin this is some attempt to help.

i have clients disconnecting.
[code]

To detect server side that the client is gone, I use the fact that the spawned gets the following message (if i remember correct these are originating from cowboy). This is where it would be convenient with an alternative solution, anyways - this is currently how i deal with disconnecting clients.
[code]

Hope this help

[2022-07-20 02:55] wingyplus commented on #229
I want to start something simple like execution time such as `[:grpc, :server, :start]`, `[:grpc, :server, :stop]`, `[:grpc, :client, :start]` and `[:grpc, :client, :stop]`. (Event prefix can be change). This could use `:telemetry.span` to wrap this process.

Do you have any metric that you interest?

[2022-07-20 02:59] polvalente commented on #229
Those make sense, although I would use [:grpc, :server, :request] as the name of the event (to which telemetry span would append start and stop and exception).

I think we should include the stream as part of the metadata. I think it's basically a mixture of what Tesla and Phoenix do with Telemetry.

Since client-server connections aren't necessarily related to each request, we should perhaps add

[2022-07-20 14:54] polvalente commented on #229
@wingyplus to be clear, I think we're ready for a PR on these events :)
Ideally we don't do it using the adapters so that we can ensure the events are published regardless of the adapter used

[2022-07-20 16:19] wingyplus commented on #229
Yeah. I’ll looking into it after setup ci is done. :)

[2022-07-20 17:58] jeffutter opened #239 "Support Client Retries"
**Is your feature request related to a problem? Please describe.**

It would be nice if elixir-grpc supported client-retries in the same way that Java/Go/C/.NET clients do.

**Describe the solution you'd like**

Implementing retries to the spec laid out here: https://github.com/grpc/proposal/blob/master/A6-client-retries.md

**Additional context**
I'm mainly starting this feature request to judge

[2022-07-20 18:11] polvalente commented on #239
Hi, Jeffrey, thanks for the proposal!

We're currently in the process of redefining the client side a little bit. #199 will make it easier to implement a new client adapter, and then I want to add a client based on a library other than Gun because the library has been stuck on a pre-release for v2.

I think that after that we can work on retries for sure. Perhaps there's a way to implement that in

[2022-07-21 14:19] wingyplus opened #241 "Support more authentication mechanism"
Currently, the library supports:

- [x] insecure
- [x] SSL/TLS authentication

But here is some missing in the library:

- [ ] ATLS authentication. (Here is Go example: https://grpc.io/docs/languages/go/alts/)
- [ ] Token base authentication. (https://grpc.io/docs/guides/auth/#using-google-token-based-authentication)

The goal is support missing authentication mechanism. I'm not sure how to do it

[2022-07-21 16:07] polvalente opened #242 "Add Mint client adapter"
After #199, we now have a contract defined for the HTTP client, so we can now implement an adapter using the Mint library and use that as a default instead of the Gun adapter

[2022-07-21 16:07] polvalente commented on #199
Closing this in favor of #242

[2022-07-21 16:08] #199 closed

[2022-07-21 17:40] #223 closed

[2022-07-21 18:25] hkrutzer commented on #242
I extracted the great work done in [Spear](https://github.com/NFIBrokerage/spear/) into a standalone gRPC client while this repo was inactive [here](https://github.com/hkrutzer/grpc_client). It might be of help.

[2022-07-22 03:52] polvalente commented on #242
@hkrutzer thanks for pointing that out! Do you want to submit it as a pull request, or should I extract the relevant code?

[2022-07-22 16:18] polvalente opened #246 "Remove the `start_server: true` global config"
We should avoid global application config because it makes things more difficult when a dependency also depends on the library an user wishes to use.

One such case is the `config :grpc, :start_server, true` key

[2022-07-22 16:50] wingyplus opened #247 "Running dialyzer when PR merge to master"
Ref discussion: https://github.com/elixir-grpc/grpc/pull/243#discussion_r927684873

[2022-07-22 23:16] polvalente commented on #176
The related PR above seems to resolve the issue. The options still need to be passed through `:transport_opts` regardless if they you're using TCP or TLS, but other than that it seems to be working :)

Could you validate this?

[2022-07-23 01:10] #247 closed

[2022-07-23 03:19] wingyplus opened #249 "GRPC.Server.Adapters.Cowboy.Handler.state document is missing"
CI complaint about Handler.state documentation is missing

![FA19CA9F-26F5-420A-B11A-2D31C713471B](https://user-images.githubusercontent.com/484530/180588674-57d1ce75-63be-4f05-82a9-95b7f5e07dbd.png)

found from PR #236

[2022-07-23 03:23] polvalente commented on #249
This is due to moduledoc false, IIRC

[2022-07-25 14:44] hkrutzer commented on #242
I probably won't submit a PR anytime soon; streaming with that client can be done by sending messages, which I need for my own use case, and that doesn't look compatible with https://github.com/elixir-grpc/grpc/blob/d15bdb36e238d4352c87da4fb4bf056dc1960453/lib/grpc/client/adapter.ex

[2022-07-27 18:45] #166 closed

[2022-07-27 18:46] sleipnir commented on #148
@polvalente I started this task as a draft in PR https://github.com/elixir-grpc/grpc/pull/254

[2022-07-29 03:50] #249 closed

[2022-07-29 05:42] tony612 commented on #242
I want to give some of my previous ideas about HTTP/2 library. One reason I didn't add Mint or other HTTP/2 client in early days is I want to let client and service share the same underlying HTTP/2 code like cowlib in Cowboy and Gun. In HTTP/2 protocol, the difference between the client and server roles is small and the protocol of them is almost the same. Code will be simpler and more stable if w

[2022-07-29 12:33] #176 closed

[2022-07-30 17:12] ryanwinchester commented on #190
It is if the fix from https://github.com/brexhq/grpc-elixir/pull/10 was never applied upstream (to this repo)

[2022-07-30 17:15] ryanwinchester commented on #190
Looks like it was: https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/client/adapters/gun.ex#L67-L73

[2022-07-30 17:15] #190 closed

[2022-07-31 00:43] polvalente commented on #242
These are great points for us to keep in mind!

[2022-07-31 00:52] #193 closed

[2022-08-01 01:57] polvalente opened #257 "Add support for load balancing"
The gRPC.io blog has a [great post](https://grpc.io/blog/grpc-load-balancing/) regarding load balancing.

Since some use cases for gRPC don't have an explicit proxy between services, we should investigate how to implement it from the client side.

[2022-08-01 02:48] #246 closed

[2022-08-02 10:40] hkrutzer commented on #257
One way of doing load balancing as mentioned on the linked document is using [xDS](https://github.com/grpc/grpc/blob/master/doc/grpc_xds_features.md), however, xDS has other features that might be useful as well but requires a lot more work. It might be a good idea to scope this issue to limit this issue to `pick_first` and `round_robin` load balancing (`grpclb` is deprecated), and have a separate

[2022-08-02 15:34] polvalente commented on #257
Agreed, those two seem like a good place to start

[2022-08-04 20:48] arjun289 commented on #216
We have been trying to achieve a similar thing with a nodejs server and trying to connect with the elixir app but getting the same error. The current workaround is to use grpcurl, however, it would be great if this can be resolved and we are able to use the elixir client itself.

[2022-08-11 10:51] carrascoacd opened #264 "Add support for OpenTelemetry interceptor"
## Context
In order to support OpenTelemetry traces with gRPC, as I didn't find any available solution across the community, I propose creating an interceptor for that purpose.

## Idea
The interceptor is quite simple, I managed to get something working based on [opentelemetry_tesla](https://github.com/ricardoccpaiva/opentelemetry_tesla). I can work on it and open a PR with that job once we agree

[2022-08-11 13:53] sleipnir commented on #264
Guys, I need to ask how this functionality affects the https://github.com/elixir-grpc/grpc-prometheus project?

[2022-08-11 13:54] polvalente commented on #264
@sleipnir one shouldn't affect the other. What are your concerns?

[2022-08-11 13:57] polvalente commented on #264
Also, we can decide on having a separate lib like grpc-prometheus, for instance grpc-opentelemetry

However, I don't have the access to create it, so we'd have to check in with the other maintainers.

[2022-08-11 14:02] sleipnir commented on #264
The issue is to ensure that telemetry data is also available for Prometheus. This allows seamless integration with kubernetes and grafana stack

[2022-08-11 14:03] polvalente commented on #264
One doesn't affect the other :)

[2022-08-12 09:43] carrascoacd commented on #264
I think it makes sense to create a separate lib, among other reasons, because this is like the convention while defining third-party integrations with OTel and also because the testing will be isolated so we don't have to mess this library with the erlang telemetry dependencies.

[2022-08-12 11:22] polvalente commented on #264
There's another approach, though, which is to make opentelemetry an optional dependency and only compile the related modules if it is present.

I'll see if we can create a new lib for this.

[2022-08-21 05:27] prihandi opened #265 "Use newer type Supervisor.child_spec() instead of Supervisor.Spec.spec() for cowboy adapter"
I've just tried to run GRPC server as a plugin in VerneMQ. Then I found an error pointing to

https://github.com/elixir-grpc/grpc/blob/c7ee0c11ad9eb95a8925a342af8e2d5b1f082fee/lib/grpc/server/adapters/cowboy.ex#L45-L46

turns out current VerneMQ using newer `ranch` version (`2.1.0`) instead of old (`1.8.0`), and the pattern match failed because newer versin of `ranch` using new map version of `:su

[2022-08-21 12:14] polvalente commented on #265
PRs are welcome!

[2022-08-22 03:10] #265 closed

[2022-08-24 12:54] beligante commented on #242
@polvalente

While looking close to this (took me some time to get full context about the lib mechanics lol)

The way Mint vs Gun works are a bit different.

[Tony I'm simplifying what you did in the explanation for brevity]
The `Gun` approach that Tony took while implementing the adapter was basically to use a the `:gun.await` function to synchronously wait for a message to be received and proces

[2022-08-24 13:06] polvalente commented on #242
Thanks for the follow-up investigation!

We can start by having a GenServer per connection. This might be the case where message processing serialization is not an issue, because if we're talking about the same *connection*, it means that we can't send/receive two different request at the same time anyway.

[2022-08-24 17:02] sleipnir commented on #242
Is this also true for bidirectional streams?

[2022-08-24 17:23] beligante commented on #242
You kinda can, that's where the state management comes in. When we receive a request, I was thinking in store the information about the information about the caller process in a sort of map with the `request_ref`

When I receive the messages from tcp, that message comes with the `request_ref` so, I know which process I should interact with.

BTW, I'm talking about process here, but it might be ano

[2022-08-24 17:32] polvalente commented on #242
A process will always process the messages it receives sequentially. What @sleipnir is worried about is that this could mean that a bidirectional system, which would be full-duplex in the best case, would be ensured to become half-duplex.

I'm not entirely familiar with HTTP/2, but from a connection socket point of view, this could indeed be the case.

However, I wouldn't worry about this too much

[2022-08-26 09:22] DaniruKun opened #268 "How to run benchmarks?"
**Describe the question**
I have tried following the exact instructions in the `benchmarks` subdirectory, but running the tests always fails.
Could you please provide up-to-date instructions on how to setup an environment for benchmarks?

**Versions:**
- OS: macOS 12.5 21G72 x86_64
- Erlang:Erlang/OTP 25 [erts-13.0.3] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [jit:ns]

Elixir 1

[2022-08-30 05:15] clww opened #269 "`grpc-message` is not percent-encoded as specified in the gRPC HTTP/2 spec"
**Describe the bug**

In [gRPC over HTTP/2 spec](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#responses), it says that the `grpc-message` should be percent-encoded.

When sending `grpc-message` containing unencoded char `%`, this will cause some gRPC clients (e.g. in my case, grpc-js) to throw an exception.

Even though the spec also says (the client) MUST NOT error or throw away

[2022-08-30 06:10] polvalente commented on #269
@clww PRs are welcome! A possible solution is using `Base.url_encode64` for serialization and then undo that during deserialization. Any thoughts?

[2022-08-30 06:34] polvalente commented on #268
I think we're gonna need @tony612's input here. The fork is based on a really outdated version of `grpc`, and what fails (at least for me) is some part of the build process. There aren't many additions, but we need a commit updating the fork.

Additions in question: https://github.com/grpc/grpc/compare/master...tony612:grpc:elixir-bench

Alternatively, we could find a way to call the benchmark as

[2022-08-30 07:00] clww commented on #269
@polvalente I'd love to though I'm not a Elixir developer (I work on web front-end stuff), but I can ask my Elixir dev colleagues to take a look at this.

About `Base.url_encode64` (I assume that this method encodes a string to a url-safe base64 string), I don't think it's the exact method we want to encode/decode the `grpc-message` here, as the spec says the string needs to be _percent-encoded_.

[2022-08-30 07:16] polvalente commented on #269
Sure! Let me know if they can't take this on and we can see if anyone else is able to tackle this.

Yes, this encodes the text in a url-safe way, which means that nothing needs to be percent-encoded (https://hexdocs.pm/elixir/1.12/Base.html#module-base-64-url-and-filename-safe-alphabet). Downside for this one is that the transmitted payload increases to 4/3 of the original size (33% more).

URI en

[2022-08-31 14:17] tony612 commented on #268
grpc's benchmark is complex and it may change as time goes by, so it's not strange to see the failing. I think we need to revisit the benchmarks and lots of code may need to be changed. It will be better if we can find a way to not fork grpc/grpc.

[2022-09-02 15:09] sleipnir opened #270 "New API Proposal"
**Is your feature request related to a problem? Please describe.**

One thing that has always bothered me about the elixir-grpc API is that it differs a lot in how we handle Stream gRPC in other languages and why we need a separate module and functions to handle responses from a gRPC stream. I would like to handle a grpc stream as fluidly as we do in other languages in which basically the types ge

[2022-09-14 07:31] drowzy opened #274 "Add gRPC http/json transcoding support"
From a user perspective it involves adding gRPC-gateway annotations to your proto to define how
JSON requests and responses should be mapped to the gRPC service. The benefit is that you can offer a REST api in addition to gRPC, but you're only required to implement the handler once.

For instance the `helloworld.proto` would look something like this:

[code]

* `SayHello` - `curl -XGET localhost:5

[2022-09-14 11:24] sleipnir commented on #274
@drowzy  I prefer the first approach to generate service.pb.svc.ex files.

[2022-09-14 11:27] sleipnir commented on #192
@polvalente I think we can close this one once the options have been added and that @drowzy  is developing https://github.com/elixir-grpc/grpc/issues/274 via https://github.com/elixir-grpc/grpc/pull/273

[2022-09-22 15:24] wingyplus commented on #264
I'm working on the interceptor library [here](https://github.com/wingyplus/opentelemetry_grpc). It focuses on client-side first which's my primary usage and it's not production ready at the moment. So please use it with caution and give feedback. :)

[2022-09-23 11:28] wingyplus commented on #264
Thanks. From a quick look, your implementation dont need to merge the header before put_header since that function will merge before replacing it.

Ref: https://github.com/elixir-grpc/grpc/blob/master/lib/grpc/client/stream.ex

I’ll take a deep look tonight to see what I miss. 🙇

[2022-09-23 15:20] wingyplus commented on #264
@carrascoacd I think the library cover all that you want. The main difference is that I use attributes following this guide https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/rpc.md. It might not cover all from the document but I'll try putting it as much as I can. :)

[2022-09-28 04:29] polvalente commented on #274
This seems like an upstream issue that could be tackled in `:protobuf`. Perhaps they could provide a config (either application config or a config file like Credo uses) for that?

[2022-09-29 07:43] drowzy commented on #274
Hmm, yes the issue more or less resolves itself if the code gen was called per project instead through a global script via protoc. I'll create an issue in protobuf and we'll see :)

[2022-10-12 04:19] azzahidK opened #278 "Google protobuf struct in include folder generation for elixir"
**Description**
So I am trying to use grpc in elixir for calling from golang based grpc server using shared proto file.
I realized that after doing the command below:
`protoc --proto_path=./<path-to-proto-folder>/ --elixir_out=plugins=grpc:./gen/grpc kargo-protobuff/company_service/*.proto`

It doesn't automatically generate the google/struct.proto that is included in the $PROTO_PATH/include folde

[2022-10-12 17:32] polvalente commented on #278
This seems like an issue with the upstream `protobuf` library.

Although perhaps @sleipnir or @wingyplus can help answer the question

[2022-10-12 18:16] #269 closed

[2022-10-14 06:29] wingyplus commented on #278
As far as i know, the `protobuf` library doesn’t compile but just do only generate a type in your proto file. So you need to compile includes proto file by yourself. In this case, you’re using google struct, you may use https://github.com/elixir-protobuf/google-protos which’s generated google probuffer code, you may need to use it as git dependency since it didn’t publish for a while.

[2022-10-14 16:29] sleipnir commented on #278
As far as I know it's not possible to do that. You need to compile all dependencies individually. Only well-known types are automatically resolved.

[2022-10-22 13:53] beligante commented on #270
@sleipnir I think that's a really good. I pass trough the same problem as you.

One thing that I thought in doing here is a more elixir-wise solution and instead of return a stream we could start send messages to the process that started the stream. Similarly to what gun/mint does for the requests.

So, the process would receive an already parsed message on the stream. And you could implement an s

[2022-10-26 00:56] sleipnir commented on #270
Hi @beligante, thanks for the interaction here. Sorry for the late reply, I've been quite busy on another project lately.

Overall I agree with your approach and have adopted similar strategies in my projects as well. However, one thing that you need to be careful with is the management of GenServer because you need to create a GenServer process for each different incoming connection, or use a poo

[2022-10-27 18:23] SimonWoolf commented on #270
@beligante I'm just attempting to integrate elixir-grpc now, and before I even found this issue, I was trying to use a workaround like to the one you sketched out (doing Stream.run() in a Task on the stream of responses), to avoid the problem of it blocking the genserver.

However, as far as I can tell, that doesn't work? The stream generation is calling :gun.await, but that is [just a receive](ht

[2022-10-29 16:03] beligante commented on #270
@sleipnir - Sorry late reply too - same problem you're having hahahaha - I think we can skip apologies next time

I gave a second look in what you're saying, but I'm not sure if I'm following + I think I misunderstood your your request.
(correct me if I'm wrong)
- You request is for how servers handle streams or it's on both - how client and server - handles the streams?
- Your pain is that server

[2022-10-29 16:41] beligante commented on #270
Hey @SimonWoolf

About your question. Yeah! I had to do a similar approach because of that strange behavior of gun. IDK why that happens to be honest hahaha. But yeah. That workaround is needed unfortunately :/

I've added a PR to add a new adapter to use `Mint` => https://github.com/elixir-grpc/grpc/pull/272 - Would love some reviews BTW :eye:

And with that adapter we don't have this problem as

[2022-10-29 19:36] sleipnir commented on #270
Hi @beligante

I refer to the server side, I think the biggest gap in the library is on the server side. Obviously the client side would benefit from such an approach as well.

By Stream I mean stream processing semantics and not the gRPC specification. I think the stream processing semantics can be good semantics for dealing with gRPC streams especially those of type Unbonded, ie infinite.

This

[2022-11-10 16:41] wingyplus opened #284 "Move interceptor behaviour to its own client/server"
Currently, the interceptor behavior is defined under the `GPRC` namespace:

[code]

It seems that it's not consistent with adapter behavior that uses `GRPC.Client.Adapter` or `GRPC.Server.Adapter`.

So I would like purpose to move interceptor behavior to under the client/server side. So it would become:

[code]

And the implementation of the interceptor, such as logger, would move into `grpc/[clie

[2022-11-10 16:49] wingyplus commented on #270
I'm not sure if we should discuss the error details mentioned in https://github.com/elixir-grpc/grpc/issues/109?

[2022-11-28 14:07] cdesch opened #287 "Error Starting GRPC.Server.Supervisor with Phoenix 1.7.0-rc-0"
**Describe the bug**
Following the [`helloworld`](https://github.com/elixir-grpc/grpc/tree/master/examples/helloworld) example and adding it to a Phoenix `1.7.0-rc-0` application, I get the following Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1) Clone this repo [phx_one_seven_grpc](https://github.com/cdesch/phx_one_seven_grpc) which contains the Phoenix `1.7.0-rc-0` project

[2022-11-30 06:16] polvalente commented on #270
Since there's a specific issue for that and a WIP PR, perhaps this discussions would be more productive in #109, but I agree that it's relevant

[2022-11-30 06:24] polvalente commented on #287
Things should work if you use the github master branch instead of the Hex 0.5.0 version.
Basically, we deprecated the global environment config in favor of a options-based config.

The issue is that you are using the new way in you application tree, but the code expects the old way.

Thanks for the report!

[2022-11-30 06:24] #287 closed